﻿
@{
    ViewBag.Title = "ReviewBillLibran";
    Layout = "~/Views/Shared/LayoutBill.cshtml";
}

<h2>ReviewBillLibran</h2>
<div id="dialog" title="請　求　書">
    <table align="center">
        <tr class="">
            <th width="200">&nbsp;</th>
            <th width="200">&nbsp;</th>
            <th width="70">&nbsp;</th>
            <th width="70">&nbsp;</th>
            <th colspan="3"><p class="editable" id="H1">&#12288;No.     LB.201406.01</p></th>
        </tr>
        <tr>
            <td colspan="7">&nbsp;</td>
        </tr>
        <tr>
            <td><b>請　求　書</b></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td colspan="3" id="H3" data-format="　yyyy　年　mm　月　dd　日　">　2014　年　6　月　6　日　</td>
        </tr>
        <tr>
            <td colspan="7">&nbsp;</td>

        </tr>
        <tr>
            <td colspan="7">&nbsp;</td>
        </tr>
        <tr>
            <td><u>送り先</u></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td colspan="4"><b class="editable" id="G6">GMO RUNSYSTEM J.S.C</b></td>

        </tr>
        <tr>
            <td colspan="3"><p class="editable" id="B7">リブランビジネスシステム株式会社　様</p></td>
            <td colspan="4"><p class="editable" id="G7">118 Nguyen Ngoc Nai, Khuong Mai</p></td>
        </tr>
        <tr>
            <td colspan="3"><p class="editable" id="B8">東京都港区新橋5丁目 25-3 第2一松ビル 2F</p></td>
            <td colspan="4"><p class="editable" id="G8">Thanh Xuan  District, HaNoi, VietNam</p></td>
        </tr>
        <tr>
            <td colspan="3"><u class="editable" id="B9">TEL: 03-6459-0521/ FAX: 03-6459-0523</u></td>
            <td colspan="4"><u class="editable" id="G9">TEL.(+84)-4-3772-4304/Fax.(+84)-4-3772-5204</u></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td width="70">&nbsp;</td>
            <td width="30">&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><p>下記のとおり御請求申し上げます</p></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr style="border:3px solid">
            <td height="35" style="font-size:large"><p>税込合計金額</p></td>
            <td colspan="3" style="border-left:dotted;font-size:large"><b class="editable" id="D15">¥427,000</b></td>
            <td style="border:1px solid"><p class="editable" id="H15">0%</p></td>
            <td colspan="2">¥0</td>
        </tr>
        <tr style="border-left: 3px solid; border-right: 3px solid;background-color:#c3c3c3">
            <td colspan="2" style="border:1px solid"><p>項目</p></td>
            <td style="border:1px solid"><p>数量</p></td>
            <td style="border:1px solid"><p>単価</p></td>
            <td colspan="2" style="border:1px solid"><p>金額</p></td>
            <td style="border:1px solid"><p>備考</p></td>
        </tr>
        <tr style="border-left: 3px solid; border-right: 3px solid;">
            <td colspan="2" height="40" style="border:1px solid">
                <p class="editable">
                    【CSOneシステム】マップ機能追加開発
                </p>
            </td>
            <td style="border:1px solid"><p class="editable">1</p></td>
            <td style="border:1px solid"><p class="editable">¥427,000</p></td>
            <td colspan="2" style="border:1px solid"><p class="editable">¥427,000</p></td>
            <td style="border:1px solid"><p class="editable">開発費用の残り70%</p></td>
        </tr>
        <tr style="border-left: 3px solid; border-right: 3px solid; border-bottom:3px solid;font-size:medium">
            <td colspan="2" height="35" style="border:1px solid"><p>合　　　　計</p></td>
            <td colspan="5" style="border:1px solid"><p class="editable">¥427,000</p></td>

        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="1">お振込み先</td>
            <td colspan="6"><p class="editable">：　Mizuho Corporate Bank, Ltd. Hanoi Branch</p></td>
        </tr>
        <tr>
            <td colspan="1">支店名</td>
            <td colspan="6"><p class="editable">：　Hanoi Branch</p></td>
        </tr>
        <tr>
            <td colspan="1">住　　所</td>
            <td colspan="6"><p class="editable">：　4th Floor, 63 Ly Thai To Building,63 Ly Thai To street, </p></td>
        </tr>
        <tr>
            <td colspan="1">&nbsp;</td>
            <td colspan="6"><p class="editable">　　Hoan Kiem District, Hanoi, Vietnam</p></td>
        </tr>
        <tr>
            <td colspan="1">&nbsp;</td>
            <td colspan="6"><p class="editable">　　Tel: 84-4-39363123&#12288; Fax: 84-4-38266665</p></td>
        </tr>
        <tr>
            <td colspan="1">Swift code</td>
            <td colspan="6"><p class="editable">：　MHCBVNVX</p></td>
        </tr>
        <tr>
            <td colspan="1">口座番号</td>
            <td colspan="6"><p class="editable">：　F15-795-012119</p></td>
        </tr>
        <tr>
            <td colspan="1">名　　義</td>
            <td colspan="6"><p class="editable">：　CONG TY CO PHAN GMO RUNSYSTEM</p></td>
        </tr>
    </table>

</div>

<button id="opener">Open Dialog</button>
