﻿@model IEnumerable<QLCLDA.Models.Entity.type_app>
@using QLCLDA.Helpers

@{
    ViewBag.Title = "Index";
}

<h2>Danh sách loại ứng dụng</h2>

<p>
    @Html.Button("Thêm mới", "Create")
</p>
<table id="example" class="table table-bordered">
    <tr>
        <th style="width: 20%">
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th style="width: 65%">
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th style="width: 15%"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.Button("Sửa", "Edit", new { id = item.id })
@*@Html.Button("Chi tiết", "Details", new { id = item.id })*@
@Html.Button("Xóa", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
