﻿@model QLCLDA.Models.Entity.skill

@{
    ViewBag.Title = "Thêm mới kỹ năng";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>skill</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name)
                @Html.ValidationMessageFor(model => model.name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.type_skill_id, "type_skill_id", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownList("type_skill_id", String.Empty)
                @Html.ValidationMessageFor(model => model.type_skill_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.parent_skill_id, "parent_skill_id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("parent_skill_id", String.Empty)
                @Html.ValidationMessageFor(model => model.parent_skill_id)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
