﻿@using QLCLDA.Helpers
@model IEnumerable<QLCLDA.Models.Entity.skill>

@{
    ViewBag.Title = "Danh sách kỹ năng";
}

<h2>Danh sách kỹ năng</h2>

<p>
    @Html.Button("Thêm mới", "Create")
</p>

<table id="example" class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type_skill.name)
            </th>
            <th></th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type_skill.name)
            </th>
            <th></th>
        </tr>
    </tfoot>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.type_skill.name)
                </td>
                <td>
                    @Html.Button("Edit", "Edit", new { id = item.id })
                    @Html.Button("Details", "Details", new { id = item.id })
                    @Html.Button("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }
    </tbody>
</table>
