﻿@using QLCLDA.Helpers
@model IEnumerable<QLCLDA.Models.Chart.PieChart>
           
@{
    string path = Path.GetRandomFileName();
    var controlId = path.Replace(".", "");
}

<script>
    $(function () {
        $('#@controlId').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: false
            },
            subtitle: {
                text: false
            },
            xAxis: {
                type: 'category',
                labels: {
                    rotation: false,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Tahoma'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Số lượng (dự án)'
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: 'Số lượng: <b>{point.y} dự án</b>',
            },
            series: [{
                name: 'Dự án',
                data: @Html.ColumnValue(Model),
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'right',
                    x: 4,
                    y: 10,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Tahoma',
                        textShadow: '0 0 3px black'
                    }
                }
            }]
        });
    });
</script>

<div id="@controlId" style="width: 100%;"></div>