﻿@model QLCLDA.Models.Chart.ChartDraw

@{
    Layout = null;
    ViewBag.Title = "Báo cáo theo năm";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
@Styles.Render("~/Content/css")

@{ Html.RenderPartial("LineChart", Model.NumberYear); }

<div class="row">
    <div class="col-xs-6">
        @{ Html.RenderPartial("LineChart", Model.NumberYear); }
    </div>
    <div class="col-xs-6">
        @{ Html.RenderPartial("LineChart", Model.RevenueYear); }
    </div>
</div>


