﻿@using QLCLDA.Helpers
@model IEnumerable<QLCLDA.Models.Chart.ChartValue>

@{
    string path = Path.GetRandomFileName();
    var controlId = path.Replace(".", "");
}

<script>
    $(function () {
        $('#@controlId').highcharts({
            title: {
                text: 'Monthly Average Temperature',
                x: -20 //center
            },
            subtitle: {
                text: 'Source: WorldClimate.com',
                x: -20
            },
            xAxis: {
                categories: @Html.LineName(Model)
            },
            yAxis: {
                title: {
                    text: 'Temperature (°C)'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: '°C'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'Test',
                data: @Html.LineValue(Model)
            }]
        });
    });
</script>

<div id="@controlId" style="width: 100%;"></div>