﻿@model IEnumerable<QLCLDA.Models.Chart.PieChart>

@{
    string path = Path.GetRandomFileName();
    var controlId = path.Replace(".", "");
}

<script>
    $(function () {
        var chart;

        $(document).ready(function () {

            // Build the chart
            $('#@controlId').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: false
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.y}</b> - <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Browser share',
                    data: @Html.Raw(Json.Encode(Model))
                    }]
            });
        });

    });
</script>

<div id="@controlId" style="width: 100%;"></div>