﻿@model QLCLDA.Models.Chart.ChartDraw

@{
    Layout = null;
    ViewBag.Title = "Báo cáo số lượng dự án";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
@Styles.Render("~/Content/css")

<div class="row">
    <div class="col-xs-6">
        @{ Html.RenderPartial("PieChart", Model.SoLuongCharts); }
    </div>
    <div class="col-xs-6">
        @{ Html.RenderPartial("ColumnChart", Model.SoLuongCharts); }
    </div>
</div>


