﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Thông tin chất lượng dự án</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/resource")
    @RenderSection("scripts", required: false)
    <link rel="stylesheet" type="text/css" href="~/Content/dataTables/dataTables.bootstrap.css">
    <script type="text/javascript" language="javascript" src="~/Scripts/dataTables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="~/Scripts/dataTables/dataTables.bootstrap.js"></script>

    @* Date picker *@
    <script type="text/javascript">
        $(function () {
            $(".datepicker").datepicker({
                changeMonth: true,
                changeYear: true
            });
        });
    </script>

    @* Checkbox list *@
    <script type="text/javascript">
        function toggle(source) {
            checkboxes = document.getElementsByName('foo');
            for (var i = 0, n = checkboxes.length; i < n; i++) {
                checkboxes[i].checked = source.checked;
            }
        }
    </script>

    @* dataTables *@
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#project').dataTable({
                "order": [[1, "asc"]]
            });
            $('#example').dataTable({
                "order": [[0, "asc"]]
            });
        });
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("QLCLDA", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>

                    <li class="dropdown">
                        @Html.ActionLink("Dự án", "Index", "Project")
                        <ul class=dropdown-menu>
                            <li>@Html.ActionLink("Loại dự án", "Index", "TypeProject")</li>
                            <li>@Html.ActionLink("Kết thúc dự án", "Index", "EndProject")</li>
                            <li>@Html.ActionLink("Đánh giá chất lượng", "Index", "Quality")</li>
                            <li>@Html.ActionLink("Loại ứng dụng", "Index", "TypeApp")</li>
                        </ul>

                    </li>

                    <li class="dropdown">
                        @Html.ActionLink("Nhóm", "Index", "Team")
                        
                    </li>

                    <li class="dropdown">
                        @Html.ActionLink("Nhân sự", "Index", "Staff")
                        <ul class=dropdown-menu>
                            <li>@Html.ActionLink("Nhân lực", "Index", "Resource")</li>
                            <li>@Html.ActionLink("Năng lực", "Index", "Skills")</li>
                            <li>@Html.ActionLink("Chức vụ", "Index", "Positions")</li>
                        </ul>
                    </li>

                    <li>@Html.ActionLink("Khách hàng", "Index", "Customers")</li>
                    <li>@Html.ActionLink("Báo cáo", "Index", "Chart")</li>
                    
                    <li class="dropdown">
                        @Html.ActionLink("Hóa đơn", "Index", "Invoice")
                        <ul class=dropdown-menu>
                            <li>@Html.ActionLink("Hóa đơn chi tiết", "ExportInvoiceDetails", "Project")</li>
                        </ul>
                    </li>
                </ul>

                @* Đăng nhập + Đăng xuất *@
                <ul style="float:right" class="nav navbar-nav">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Đăng nhập", "Login", "Account")</li>
                    }
                    else
                    {
                        @*<li><a href="#">Hi! @User.Identity.Name</a></li>*@
                        <li>@Html.ActionLink("Hi! " + User.Identity.Name, "ChangePassword", "Account")</li>
                        <li>@Html.ActionLink("Đăng xuất", "Logout", "Account")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Thông tin chất lượng dự án</p>
        </footer>
    </div>
</body>
</html>
