﻿@model List<staff_of_skill>
@using QLCLDA.Helpers;
@using QLCLDA.Models.Entity

@{
    ViewBag.Title = "Kỹ năng";
    var parentSkills = ViewBag.ParentSkills != null ? ViewBag.ParentSkills as List<skill> : new List<skill>();
    var childSkills = ViewBag.ChildSkills != null ? ViewBag.ChildSkills as List<skill> : new List<skill>();
    var listSkillLevelData = ViewBag.SkillLevels as List<level>;
}

<h2>Danh sách kỹ năng</h2>

@using (Html.BeginForm())
{
    <table id="example" class="table table-bordered">
        <thead>
            <tr>
                @foreach (var skill in parentSkills)
                {
                    <th>
                        @skill.name
                    </th>
                }
            </tr>
        </thead>

        <tbody>
            <tr>
                @for (var i = 0; i < parentSkills.Count; i++)
                {
                    var currentSkills = childSkills.Where(s => s.parent_skill_id == parentSkills[i].id);

                    <td>
                        @foreach (var item in currentSkills)
                        {
                            if (Model.Select(s => s.skill_id).Contains(item.id))
                            {
                                var levels = Model.First(s => s.skill_id == item.id).level_id;
                                var exp = Model.First(s => s.skill_id == item.id).num_exp.ToString();
                                var listSkillLevel = new SelectList(listSkillLevelData, "id", "name", levels);
                                
                                <div class="item_skill" style="display: block">
                                    <input type="checkbox" checked="checked" name="skills" value="@item.id" class="check_skill" />
                                    @item.name
                                    @Html.DropDownList("levels", listSkillLevel)
                                    <input type="text" class="num_exp" value="@exp" style="width: 25px; height: 20px;" name="num_exp"/>
                                </div>
                            }
                            else
                            {
                                var listSkillLevel = new SelectList(listSkillLevelData, "id", "name");
                                
                                <div class="item_skill" style="display: block">
                                    <input type="checkbox" name="skills" value="@item.id" class="check_skill" />
                                    @item.name
                                    @Html.DropDownList("levels", listSkillLevel, new { disabled = true })
                                    <input type="text" class="num_exp" value="" style="width: 25px; height: 20px;" name="num_exp" disabled="disabled" />
                                </div>
                            }
                        }
                    </td>
                }
            </tr>
        </tbody>
    </table>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Thêm mới" class="btn btn-default" />
        </div>
    </div>
}

<p>
    @Html.Button("Thêm mới", "Create")
</p>

<script type="text/javascript">
    $('.check_skill').on('click', function () {
        var isChecked = $(this).is(':checked');

        console.log(isChecked);

        if (isChecked) {
            $(this).parent().children('select:eq(0)').removeAttr('disabled');
            $(this).parent().children('.num_exp:eq(0)').removeAttr('disabled');
        } else {
            $(this).parent().children('select:eq(0)').attr('disabled', 'disabled');
            $(this).parent().children('.num_exp:eq(0)').attr('disabled', 'disabled');
        }
    });
</script>