﻿@model QLCLDA.Models.Entity.staff
@using QLCLDA.Helpers

@{
    ViewBag.Title = "Xóa nhân sự " +@Model.name;
}

<h2>Xác nhận xóa nhân sự "@Model.name"</h2>

<h3>Bạn có chắc muốn xóa nhân sự này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.position_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.position_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.skype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.skype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" />
        </div>
    }
</div>

@Html.Button("Quay lại", "Index")