﻿@model QLCLDA.Models.Entity.staff
@using QLCLDA.Helpers

@{
    ViewBag.Title = "Chi tiết nhân sự " +@Model.name;
}

<h2>Chi tiết nhân sự "@Model.name"</h2>

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.position.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.position.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.skype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.skype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.display_order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.display_order)
        </dd>
        <dt>
            @Html.DisplayName("Năng lực")
        </dt>
        <dd>
            @{
                var i = 0;
            }
            @foreach (var skill in Model.staff_of_skill)
            {
                if (i == 0)
                {
                    @:@skill.skill.name
                }
                else
                {
                    @:, @skill.skill.name
                }
                i = 1;
                
            }
        </dd>
    </dl>
</div>
<p>
    @Html.Button("Sửa", "Edit", new { id = Model.id }) |
    @Html.Button("Quay lại", "Index")
</p>
