﻿@model QLCLDA.Models.Entity.staff
@using QLCLDA.Helpers

@{
    ViewBag.Title = "Cập nhật nhân sự " + @Model.name;
}

<h2>Cập nhật nhân sự "@Model.name"</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.position_id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("position_id", null, "Chức vụ", new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.position_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.skype, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.skype, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.skype)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.phone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.phone, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.phone)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Nhóm chính thức</label>
            <div class=" col-md-10">
                @Html.DropDownList("team_id", null, "Chưa quyết định", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.display_order, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.display_order, new { @class = "form-control", type = "number" , min = 0, max = 10})
                @Html.ValidationMessageFor(model => model.display_order)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.Button("Quay lại", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
