﻿@model IEnumerable<QLCLDA.Models.Entity.staff>
@using QLCLDA.Helpers;

@{
    ViewBag.Title = "Nhân sự";
}

<h2>Danh sách nhân sự</h2>

<p>
    @Html.Button("Thêm mới", "Create")
</p>

<table id="example" class="table table-bordered">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                Tên
            </th>
            <th>
                Nhóm
            </th>
            <th>
                Chức vụ
            </th>
            <th>
                Email
            </th>
            <th>
                Skype
            </th>
            <th>
                Điện thoại
            </th>
            <th>Năng lực</th>
            <th></th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>
                STT
            </th>
            <th>
                Tên
            </th>
            <th>
                Nhóm
            </th>
            <th>
                Chức vụ
            </th>
            <th>
                Email
            </th>
            <th>
                Skype
            </th>
            <th>
                Điện thoại
            </th>
            <th>Năng lực</th>
            <th></th>
        </tr>
    </tfoot>

    <tbody>
        @{
            int i = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @i
                    @{ i++; }
                </td>
                <td>
                    @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayFor(modelItem => item.name).ToString()), "Details", new { item.id })
                </td>
                <td>
                    @foreach (var ts in item.team_staff)
                    {
                        if (ts.is_main_team != null && ts.is_main_team.Value)
                        {
                            @Html.DisplayFor(team => ts.team.name)
                            break;
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.position.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.skype)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phone)
                </td>
                <td>
                    @{
                        foreach (var sos in item.staff_of_skill)
                        {
                            <p>@sos.skill.name</p>
                        }
                    }
                </td>
                <td>
                    @Html.Button("Sửa", "Edit", new { item.id })
                    @Html.Button("Năng lực", "AddSkill", new { item.id })
                    @Html.Button("Xóa", "Delete", new { item.id })
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    @Html.Button("Thêm mới", "Create")
</p>