﻿@model QLCLDA.Models.Entity.end_project
@using QLCLDA.Helpers

@{
    ViewBag.Title = "Xóa kết thúc dự án " + @Model.project.name_project;
}

<h2>Xác nhận xóa kết thúc dự án "@Model.project.name_project"</h2>

<h3>Bạn có chắc chắn muốn xóa bản ghi này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.difficulty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.difficulty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.advantage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.advantage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.risk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.risk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.experience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.experience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_fail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_fail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.project.name_cd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.project.name_cd)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.Button("Quay lại", "Index")
        </div>
    }
</div>
