﻿@model QLCLDA.Models.Entity.end_project
@using QLCLDA.Helpers

@{
    ViewBag.Title = "Chi tiết kết thúc dự án " + @Model.project.name_project;
}

<h2>Chi tiết kết thúc dự án "@Model.project.name_project"</h2>

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.difficulty)
        </dt>

        <dd>
            @Html.Raw(Model.difficulty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.advantage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.advantage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.risk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.risk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.experience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.experience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_fail)
        </dt>

        <dd>
            @{
                if (Model.is_fail == true)
                {
                    @Html.DisplayName("Thất bại")
                }
                else
                {
                    @Html.DisplayName("Thành công")
                }
            }
            @*@Html.DisplayFor(model => model.is_fail)*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.project.name_cd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.project.name_cd)
        </dd>

    </dl>
</div>
<p>
    @Html.Button("Sửa", "Edit", new { id = Model.project_id })
    @Html.Button("Quay lại", "Index")
</p>
