﻿@model QLCLDA.Models.Entity.end_project
@using QLCLDA.Helpers

@{
    ViewBag.Title = "Cập nhật kết thúc dự án " + @Model.project.name_project;
}

<h2>Cập nhật kết thúc dự án "@Model.project.name_project"</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.project_id)

        <div class="form-group">
            @Html.LabelFor(model => model.project_id, "Dự án", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("project_id", null, String.Empty, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.project_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.difficulty, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.difficulty, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.difficulty)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.advantage, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.advantage, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.advantage)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.risk, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.risk, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.risk)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.experience, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.experience, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.experience)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.is_fail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.RadioButtonFor(model => model.is_fail, true) Thành công
                @Html.RadioButtonFor(model => model.is_fail, false) Thất bại
                @Html.ValidationMessageFor(model => model.is_fail)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-default" />
                @Html.Button("Quay lại", "Index")
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
