﻿@model IEnumerable<QLCLDA.Models.Entity.end_project>
@using QLCLDA.Helpers

@{
    ViewBag.Title = "Kết thúc dự án";
}

<h2>Danh sách dự án đã kết thúc</h2>

<p>
    @Html.Button("Thêm mới", "Create", "EndProject")
</p>

<table id="example" class="table table-bordered">
    <thead>
        <tr>
            <th>
                Mã
            </th>
            <th>
                Dự án
            </th>
            <th>
                Khó khăn
            </th>
            <th>
                Thuận lợi
            </th>
            <th>
                Rủi ro
            </th>
            <th>
                Kinh nghiệm
            </th>
            <th>
                Thất bại?
            </th>
            <th></th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>
                Mã
            </th>
            <th>
                Dự án
            </th>
            <th>
                Khó khăn
            </th>
            <th>
                Thuận lợi
            </th>
            <th>
                Rủi ro
            </th>
            <th>
                Kinh nghiệm
            </th>
            <th>
                Thất bại?
            </th>
            <th></th>
        </tr>
    </tfoot>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.project_id)
                </td>
                <td>
                    @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayFor(modelItem => item.project.name_project).ToString()), "Details", "Project", new { id = item.project_id }, null)
                </td>
                <td>
                    @Html.Raw(item.difficulty)
                </td>
                <td>
                    @Html.Raw(item.advantage)
                </td>
                <td>
                    @Html.Raw(item.risk)
                </td>
                <td>
                    @Html.Raw(item.experience)
                </td>
                <td>
                    @{
                        if (item.is_fail == true)
                        {
                            @Html.DisplayName("Thất bại")
                        }
                        else
                        {
                            @Html.DisplayName("Thành công")
                        }
                    }
                </td>
                <td>
                    @Html.Button("Sửa", "Edit", new { id = item.project_id })
                    @Html.Button("Chi tiết", "Details", new { id = item.project_id })
                    @Html.Button("Xóa", "Delete", new { id = item.project_id })
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    @Html.Button("Thêm mới", "Create", "EndProject")
</p>
