﻿@model QLCLDA.Models.ManagerUsers

@{
    ViewBag.Title = "ChangePassword";
}

<h2>Đổi mật khẩu</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Tài khoản: @User.Identity.Name</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.OldPassword, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.OldPassword)
                @Html.ValidationMessageFor(model => model.OldPassword)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NewPassword, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.NewPassword)
                @Html.ValidationMessageFor(model => model.NewPassword)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CofirmNewPass, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.CofirmNewPass)
                @Html.ValidationMessageFor(model => model.CofirmNewPass)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Đổi mật khẩu" class="btn btn-default" />
            </div>
        </div>
    </div>
}

