﻿`@model QLCLDA.Models.Account

@{
    ViewBag.Title = "Đăng nhập";
}

<h2>Đăng nhập</h2>

@using (Html.BeginForm(null, null, new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <hr />
    <p>
        <div class="input-group">
            <span class="input-group-addon">Username</span>
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Nhập ID" })
        </div>
    </p>

    <p>
        <div class="input-group">
            <span class="input-group-addon">Password</span>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Nhập mật khẩu" })
        </div>
    </p>

    <p class="text-warning">
        @Html.CheckBoxFor(m => m.RememberMe)
        Lưu đăng nhập lần sau!
    </p>
    <button type="submit" class="btn">Đăng nhập</button>
}