﻿@model QLCLDA.Models.Entity.level
@using QLCLDA.Helpers

@{
    ViewBag.Title = "Xóa Level " + @Model.name;
}

<h2>Xác nhận xóa Level "@Model.name"</h2>

<h3>Bạn có chắc muốn xóa Level này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.group)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.group)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" />
        </div>
    }
</div>

@Html.Button("Quay lại", "Index")