﻿@model IEnumerable<QLCLDA.Models.Entity.level>
@using QLCLDA.Helpers;

@{
    ViewBag.Title = "Level";
}

<h2>Danh sách Level</h2>

<p>
    @Html.Button("Thêm mới", "Create")
</p>

<table id="example" class="table table-bordered">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                Tên
            </th>
            <th>
                Nhóm
            </th>
            <th></th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>
                STT
            </th>
            <th>
                Tên
            </th>
            <th>
                Nhóm
            </th>
            <th></th>
        </tr>
    </tfoot>

    <tbody>
        @{
            int i = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayFor(modelItem => item.name).ToString()), "Details", new { item.id })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.group)
                </td>
                <td>
                    @Html.Button("Sửa", "Edit", new { item.id })
                    @Html.Button("Xóa", "Delete", new { item.id })
                </td>
            </tr>

            i++;
        }
    </tbody>
</table>

<p>
    @Html.Button("Thêm mới", "Create")
</p>