﻿@model QLCLDA.Models.Entity.project
@using QLCLDA.Helpers
@using QLCLDA.Models

@{
    ViewBag.Title = "Thêm mới dự án";
}

<h2>Thêm mới dự án</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.id_customer, "Khách hàng (*)", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_customer", null, "Chọn khách hàng", new { @class = "form-control", required = "required", placeholder = "Cần thiết" })
                @Html.ValidationMessageFor(model => model.id_customer)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.id_type_project, "Loại dự án (*)", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_type_project", null, "Chọn loại dự án", new { @class = "form-control", required = "required", placeholder = "Cần thiết" })
                @Html.ValidationMessageFor(model => model.id_type_project)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.name_cd, new { @class = "control-label col-md-2", })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.name_cd, new { @class = "form-control", required = "required", placeholder = "Cần thiết" })
                @Html.ValidationMessageFor(model => model.name_cd)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.name_project, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.name_project, new { @class = "form-control", required = "required", placeholder = "Cần thiết" })
                @Html.ValidationMessageFor(model => model.name_project)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.purpose, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.purpose, new { @class = "form-control", required = "required", placeholder = "Cần thiết" })
                @Html.ValidationMessageFor(model => model.purpose)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.expected_start_date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.expected_start_date, "{0:dd/MM/yyyy}", new { @class = "form-control", id = "dateDepart", required = "required", placeholder = "Cần thiết" })
                @Html.ValidationMessageFor(model => model.expected_start_date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.expected_end_date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.expected_end_date, "{0:dd/MM/yyyy}", new { @class = "form-control", id = "dateReturn", required = "required", placeholder = "Cần thiết" })
                @Html.ValidationMessageFor(model => model.expected_end_date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.actual_start_date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.actual_start_date, "{0:dd/MM/yyyy}", new { @class = "form-control", id = "dateDepart2" })
                @Html.ValidationMessageFor(model => model.actual_start_date)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.actual_end_date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.actual_end_date, new { @class = "form-control", id = "dateReturn2" })
                @Html.ValidationMessageFor(model => model.actual_end_date)
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Ngôn ngữ lập trình sử dụng", new { @class = "control-label col-md-2" })
            <div class="col-md-offset-2 col-md-10">
                <table width="50%">
                    <tr>
                        @{
                            var colPl = 0;
                            var proLangs = ViewBag.proLang as List<QLCLDA.Models.Entity.skill>;
                            if (proLangs != null)
                            {
                                foreach (var pl in proLangs)
                                {
                                    if (colPl++%3 == 0)
                                    {
                                        @:</tr>
                                        @:<tr>
                                     }
                                    @:<td class="col-md-1">
                                        <input type="checkbox"
                                               name="selectedProLang"
                                               value="@pl.id"/>
                                        @pl.name
                                        @:</td>
                                    }
                                    @:</tr>
                                    }
                                }
                </table>
            </div>

        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.technology, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.technology, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.technology)
            </div>
        </div>
        
        <div class="form-group">
            @Html.Label("Loại ứng dụng", new { @class = "control-label col-md-2" })
            <div class="col-md-offset-2 col-md-10">
                <table width="50%">
                    <tr>
                        @{
                            var colApp = 0;
                            var apps = ViewBag.apps as List<QLCLDA.Models.Entity.type_app>;
                            if (apps != null)
                            {
                                foreach (var app in apps)
                                {
                                    if (colPl++ % 3 == 0)
                                    {
                                        @:</tr>
                                    @:<tr>
                                     }
                                    @:<td class="col-md-1">
                                        <input type="checkbox"
                                               name="selectedApps"
                                               value="@app.id" />
                                        @app.name
                                        @:</td>
                                    }
                                    @:</tr>
                                    }
                        }
                    </table>
                </div>

            </div>

        <div class="form-group">
            @Html.LabelFor(model => model.estimator, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.estimator, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.estimator)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.scale_estimator, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.scale_estimator, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.scale_estimator)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.contract_value, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.contract_value, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.contract_value)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pm, "PM (*)", new { @class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownList("pm", null,"Chọn PM", new { required = "required", placeholder = "Cần thiết" })
                @Html.ValidationMessageFor(model => model.pm)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.brse, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("brse", "Chọn BrSE")
                @Html.ValidationMessageFor(model => model.brse)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.current_cost, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.current_cost, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.current_cost)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.estimated_cost, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.estimated_cost, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.estimated_cost)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.software, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.software, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.software)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hardware, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.hardware, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.hardware)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Nhóm thực hiện", new { @class = "control-label col-md-2" })
            <div class="col-md-offset-2 col-md-10">
                <table width="50%">
                    <tr>
                        @{
                            int cnt = 0;
                            List<QLCLDA.Models.AssignedTeamData> teams = ViewBag.Teams;

                            foreach (var team in teams)
                            {
                                if (cnt++ % 3 == 0)
                                {
                                @:</tr>
                                @:<tr>
                                    }
                                    @:<td class="col-md-1">
                                        <input type="checkbox"
                                               name="selectedTeams"
                                               value="@team.TeamId"
                                               @(Html.Raw(team.Assigned ? "checked=\"checked\"" : "")) />
                                        @team.Name
                                        @:</td>
                                    }
                                    @:</tr>
                            }
                </table>
            </div>
        </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Thêm mới" class="btn btn-default" />
                                    @Html.Button("Quay lại", "Index")
                                </div>
                            </div>
                        </div>
                            <script>
                                $('select').attr("class", "form-control");
                                //$('input').attr("class", "form-control");
                            </script>
}

                            @section Scripts {
                                @Scripts.Render("~/bundles/jqueryval")
                            }
