﻿@model QLCLDA.Models.Entity.project
@using QLCLDA.Helpers

@{
    ViewBag.Title = "Xóa " +@Model.name_project;
}

<h2>Xác nhận xóa @Model.name_project</h2>

<h3 class="alert alert-danger">Bạn có chắc muốn xóa dự án này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name_cd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_cd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name_project)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_project)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.expected_start_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expected_start_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.expected_end_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expected_end_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.actual_start_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actual_start_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.actual_end_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actual_end_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.technology)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.technology)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.purpose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.purpose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estimator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estimator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.scale_estimator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scale_estimator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contract_value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contract_value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.brse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.current_cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.current_cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estimated_cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estimated_cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.software)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.software)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hardware)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hardware)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer.company_cd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.company_cd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.end_project.difficulty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.end_project.difficulty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.staff.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staff.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quality.project_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quality.project_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type_project.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type_project.name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" />
            @Html.Button("Quay lại", "Index")
        </div>
    }
</div>
