﻿@model QLCLDA.Models.Entity.project
@using QLCLDA.Helpers

@{
    ViewBag.Title = "Chi tiết " + @Model.name_project;
}

<h2>@Model.name_project</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Tên viết tắt</dt>
        <dd>@Html.DisplayFor(model => model.name_cd)</dd>

        <dt>Tên dự án</dt>
        <dd>@Html.DisplayFor(model => model.name_project)</dd>

        <dt>Ngày bắt đầu dự kiến</dt>
        <dd>@Html.DisplayFor(model => model.expected_start_date)</dd>

        <dt>Ngày kết thúc dự kiến</dt>
        <dd>@Html.DisplayFor(model => model.expected_end_date)</dd>

        <dt>@Html.DisplayNameFor(model => model.actual_start_date)</dt>
        <dd>@Html.DisplayFor(model => model.actual_start_date)</dd>

        <dt>@Html.DisplayNameFor(model => model.actual_end_date)</dt>
        <dd>@Html.DisplayFor(model => model.actual_end_date)</dd>

        <dt>Ngôn ngữ sử dụng</dt>
        <dd>
            @foreach (var pl in Model.skills)
            {
                @Html.DisplayName(pl.name);@:&nbsp;
            }
        </dd>

        <dt>@Html.DisplayNameFor(model => model.technology)</dt>
        <dd>@Html.DisplayFor(model => model.technology)</dd>

        <dt>Loại ứng dụng</dt>
        <dd>
            @foreach (var app in Model.type_app)
            {
                @Html.DisplayName(app.name);@:&nbsp;
            }
        </dd>
        
        <dt>Mục tiêu dự án</dt>
        <dd>@Html.DisplayFor(model => model.purpose)</dd>

        <dt>@Html.DisplayNameFor(model => model.estimator)</dt>
        <dd>@Html.DisplayFor(model => model.estimator)</dd>

        <dt>@Html.DisplayNameFor(model => model.scale_estimator)</dt>
        <dd>@Html.DisplayFor(model => model.scale_estimator)</dd>

        <dt>@Html.DisplayNameFor(model => model.contract_value)</dt>
        <dd>@Html.DisplayFor(model => model.contract_value)</dd>

        <dt>@Html.DisplayNameFor(model => model.brse)</dt>
        <dd>@Html.Display("BrSE_Name")</dd>

        <dt>@Html.DisplayNameFor(model => model.current_cost)</dt>
        <dd>@Html.DisplayFor(model => model.current_cost)</dd>

        <dt>@Html.DisplayNameFor(model => model.estimated_cost)</dt>
        <dd>@Html.DisplayFor(model => model.estimated_cost)</dd>

        <dt>@Html.DisplayNameFor(model => model.software)</dt>
        <dd>@Html.DisplayFor(model => model.software)</dd>

        <dt>@Html.DisplayNameFor(model => model.hardware)</dt>
        <dd>@Html.DisplayFor(model => model.hardware)</dd>

        <dt>Khách hàng</dt>
        <dd>@Html.DisplayFor(model => model.customer.company)</dd>

        <dt>PM</dt>
        <dd>@Html.DisplayFor(model => model.staff.name)</dd>

        <dt>Đánh giá chất lượng</dt>
        <dd>
            @{
                if (Model.quality != null)
                {
                    @Html.ActionLink("Đã đánh giá", "Details", "Quality", new { id = Model.quality.project_id }, null)
                }
                else
                {
                    @Html.DisplayName("Chưa đánh giá");
                }
            }
        </dd>

        <dt>Loại dự án</dt>
        <dd>@Html.DisplayFor(model => model.type_project.name)</dd>

        <dt>Nhóm thực hiện</dt>
        <dd>
            @foreach (var item in Model.teams)
            {
                @Html.DisplayName(item.name) <br />
            }
        </dd>
    </dl>
</div>

<p>
    @Html.Button("Sửa", "Edit", new { id = Model.id })
    @Html.Button("Quay lại", "Index")
</p>
