﻿@using QLCLDA.Helpers

@{
    ViewBag.Title = "Xuất hóa đơn chi tiết";
}

<h2>Xuất hóa đơn chi tiết</h2>

@using (Html.BeginForm(null, "Project", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        
        <div class="form-group">
            @Html.Label("Khách hàng", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idCustomer", "Chọn khách hàng")
                @*@Html.ValidationMessageFor(model => model.id)*@
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Chi tiết hóa đơn", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextArea("product")
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Thuế (%)", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("tax")
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Số lượng", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("quantity")
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Thành tiền", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("cost")
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Ghi chú", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("note")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Export Excel" name="action:ExportInvoiceDetails" class="btn btn-default" />
                <input type="submit" value="Export PDF" name="action:ExportPdfInvoiceDetails" class="btn btn-default" />
                @Html.Button("Quay lại", "Index")
            </div>
        </div>
    </div>
}