﻿@model IEnumerable<QLCLDA.Models.Entity.project>
@using QLCLDA.Helpers;

@{
    ViewBag.Title = "Danh sách dự án";
}

<h2>Danh sách dự án</h2>

<p>
    @Html.Button("Thêm mới", "Create")
</p>

@using (Html.BeginForm("Index", "Project", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="table-responsive">
        <table id="project" class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" onclick="toggle(this)" />
                    </th>
                    <th>
                        #
                    </th>
                    <th>
                        Viết tắt
                    </th>
                    <th>
                        Tên
                    </th>
                    <th>
                        Dự kiến
                    </th>
                    <th>
                        Thực tế
                    </th>
                    <th>
                        PM
                    </th>
                    <th>
                        Kết thúc
                    </th>
                    <th>
                        Đánh giá
                    </th>
                    <th>
                        Thao tác
                    </th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>
                        <input type="checkbox" onclick="toggle(this)" />
                    </th>
                    <th>
                        #
                    </th>
                    <th>
                        Viết tắt
                    </th>
                    <th>
                        Tên
                    </th>
                    <th>
                        Dự kiến
                    </th>
                    <th>
                        Thực tế
                    </th>
                    <th>
                        PM
                    </th>
                    <th>
                        Kết thúc
                    </th>
                    <th>
                        Đánh giá
                    </th>
                    <th>
                        Thao tác
                    </th>
                </tr>
            </tfoot>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.CheckBox("foo", new { value = item.id })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.name_cd)
                        </td>
                        <td>
                            @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayFor(modelItem => item.name_project).ToString()), "Details", new { item.id })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.expected_start_date) <br />
                            @Html.DisplayFor(modelItem => item.expected_end_date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.actual_start_date) <br />
                            @Html.DisplayFor(modelItem => item.actual_end_date)
                        </td>
                        <td>

                            @(item.pm != null ? Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayFor(modelItem => item.staff.name).ToString()), "Details", "Staff", new { item.staff.id }, null) : Html.DisplayName("Chưa có"))

                        </td>
                        <td>
                            @{
                                if (item.end_project != null)
                                {
                                    <img src="~/Content/icon/done.png" height="40" alt="Đã kết thúc" title="Đã kết thúc" />
                                }
                            }
                        </td>
                        <td>
                            @{
                                if (item.end_project != null)
                                {
                                    @(item.end_project.is_fail == true ? Html.DisplayName("Thất bại") : Html.DisplayName("Thành công"))
                                }
                            }
                        </td>
                        <td>
                            @Html.Button("Sửa", "Edit", new { item.id })
                            @Html.Button("Xóa", "Delete", new { item.id })
                            @{
                                if (item.end_project != null)
                                {
                                    @Html.Button("Xuất hóa đơn", "Invoice", new { item.id })
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @Html.Button("Xuất hóa đơn nhiều dự án", "Index", "Invoice")
}