﻿@model QLCLDA.Models.Entity.bank_info

@using QLCLDA.Helpers

@{
    ViewBag.Title = "Invoice";
}

<h2>Xuất hóa đơn</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.Label("Mã hóa đơn", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("no")
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Ngày xuất hóa đơn", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input class="datepicker text-box single-line" value="" name="date" id="date" />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Thuế (%)", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("tax")
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Ghi chú", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("note")
            </div>
        </div>

        <h3>Thông tin ngân hàng trả tiền</h3>

        <div class="form-group">
            @Html.LabelFor(model => model.bank_pay, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.bank_pay)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.branch, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.branch)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.street, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.street)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.district, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.district)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tel, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.tel)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fax, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.fax)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.swift_code, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.swift_code)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.account_number, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.account_number)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.name)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Export Excel" class="btn btn-default" />

                @Html.Button("Quay lại", "Index")
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
}
