﻿@{
    //Layout = null;
    ViewBag.Title = "Biểu đồ";
}

<script language="javascript" type="text/javascript">
    function resizeIframe(obj) {
        obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    }
</script>

<script type="text/javascript">
    $('#myTab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show');
    });

    function reload(chart) {
        document.getElementById(chart).contentWindow.location.reload();
    }
</script>

@*<script type="text/javascript">
    document.getElementById('chart').contentWindow.location.reload(true);
</script>*@

<h2>Báo cáo</h2>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="active"><a href="#soluong" data-toggle="tab">Số lượng</a></li>
    <li><a href="#quymo" data-toggle="tab" onclick="reload('qm')">Quy mô</a></li>
    <li><a href="#tctb" data-toggle="tab" onclick="reload('tc')">Tỷ lệ Thành công/Thất bại</a></li>
    <li><a href="#dtln" data-toggle="tab" onclick="reload('dt')">Tỷ lệ Doanh thu/Lợi nhuận</a></li>
    <li><a href="#tangtruong" data-toggle="tab" onclick="reload('tt')">Tăng trưởng</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="soluong">
        <iframe frameborder="0" scrolling="no" src=@Url.Action("TeamProjectCount", "Chart") style="width: 100%;" onload='javascript:resizeIframe(this);'></iframe>
    </div>
    <div class="tab-pane" id="quymo">
        <iframe id="qm" frameborder="0" scrolling="no" src=@Url.Action("ScaleProjects", "Chart") style="width: 100%;" onload='javascript:resizeIframe(this);'></iframe>
    </div>
    <div class="tab-pane" id="tctb">
        <iframe id="tc" frameborder="0" scrolling="no" src=@Url.Action("IsFailedTeam", "Chart") style="width: 100%;" onload='javascript:resizeIframe(this);'></iframe>
    </div>
    <div class="tab-pane" id="dtln">
        <iframe id="dt" frameborder="0" scrolling="no" src=@Url.Action("RevenueTeams", "Chart") style="width: 100%;" onload='javascript:resizeIframe(this);'></iframe>
    </div>
    <div class="tab-pane" id="tangtruong">
        <iframe id="tt" frameborder="0" scrolling="no" src=@Url.Action("RevenueYears", "Chart") style="width: 100%;" onload='javascript:resizeIframe(this);'></iframe>
    </div>
</div>