﻿@model IEnumerable<QLCLDA.Models.Chart.ChartDraw>

@{
    Layout = null;
    ViewBag.Title = "Tỷ lệ thành công thất bại của toàn công ty, từng nhóm";
}

@Scripts.Render("~/bundles/chart")
@Styles.Render("~/Content/css")

@foreach (var item in Model)
{
    <div style="width: 50%; float: left;">
        @{ Html.RenderPartial("PiePartial", item.FailedEachTeam); }
        <div style="text-align: center;" ><strong>@Html.DisplayFor(modelItem => item.name)</strong></div>
    </div>
}