﻿@model IEnumerable<QLCLDA.Models.Chart.ChartValue>

@{
    string path = Path.GetRandomFileName();
    var controlId = path.Replace(".", "");
}

<script type="text/javascript">
    var chart;
    var legend;

    AmCharts.ready(function () {
        // PIE CHART
        chart = new AmCharts.AmPieChart();
        chart.dataProvider = @Html.Raw(Json.Encode(Model));
        chart.titleField = "name";
        chart.valueField = "value";
        chart.outlineColor = "#FFFFFF";
        chart.outlineAlpha = 0.8;
        chart.outlineThickness = 2;
        // LABEL INSIDE
        chart.labelRadius = -30;
        chart.labelText = "[[percents]]%";
        // LEGEND
        legend = new AmCharts.AmLegend();
        legend.align = "center";
        //legend.markerType = "circle";
        legend.balloonText = "[[title]]: [[percents]]%";
        chart.addLegend(legend);

        // WRITE
        chart.write("@controlId");
    });
</script>

<div id="@controlId" style="width: 100%; height: 400px;"></div>