﻿@model QLCLDA.Models.Chart.ChartDraw

@{
    Layout = null;
    ViewBag.Title = "Doanh thu theo năm";
}

@Scripts.Render("~/bundles/chart")
@Styles.Render("~/Content/css")

<h4>Số lượng dự án theo năm</h4>
<div class="row">
    <div class="col-xs-6">
        @{ Html.RenderPartial("PiePartial", Model.NumberYear); }
    </div>
    <div class="col-xs-6">
        @{ Html.RenderPartial("BarPartial", Model.NumberYear); }
    </div>
</div>

<div class="row">
    @{ Html.RenderPartial("LinePartial", Model.NumberYear); }
</div>

<h4>Doanh thu dự án theo năm</h4>
<div class="row">
    <div class="col-xs-6">
        @{ Html.RenderPartial("PiePartial", Model.RevenueYear); }
    </div>
    <div class="col-xs-6">
        @{ Html.RenderPartial("BarPartial", Model.RevenueYear); }
    </div>
</div>

<div class="row">
    @{ Html.RenderPartial("LinePartial", Model.RevenueYear); }
</div>