﻿@model QLCLDA.Models.Chart.ChartDraw

@{
    Layout = null;
    ViewBag.Title = "Doanh thu giữa các team";
}

@Scripts.Render("~/bundles/chart")
@Styles.Render("~/Content/css")

<h4>Doanh thu giữa các nhóm</h4>
<div class="row">
    <div class="col-xs-6">
        @{ Html.RenderPartial("PiePartial", Model.RevenueTeam); }
    </div>
    <div class="col-xs-6">
        @{ Html.RenderPartial("BarPartial", Model.RevenueTeam); }
    </div>
</div>

<h4>Lợi nhuận giữa các nhóm</h4>
<div class="row">
    <div class="col-xs-6">
        @{ Html.RenderPartial("PiePartial", Model.ProfitTeams); }
    </div>
    <div class="col-xs-6">
        @{ Html.RenderPartial("BarPartial", Model.ProfitTeams); }
    </div>
</div>

<h4>Hiệu suất doanh thu/người từng nhóm</h4>
<div class="row">
    @{ Html.RenderPartial("BarPartial", Model.RevenuePersonalTeam); }
</div>