﻿@model QLCLDA.Models.Chart.ChartDraw

@{
    Layout = null;
    ViewBag.Title = "Quy mô dự án";
}

@Scripts.Render("~/bundles/chart")
@Styles.Render("~/Content/css")

@*<h2>Quy mô dự án</h2>*@

<div class="row">
    <div class="col-xs-6">
        @{ Html.RenderPartial("PiePartial", Model.RevenueTeam); }
    </div>
    <div class="col-xs-6">
        @{ Html.RenderPartial("BarPartial", Model.RevenueTeam); }
    </div>
</div>
