﻿@model QLCLDA.Models.Chart.ChartDraw

@{
    Layout = null;
    ViewBag.Title = "Báo cáo số lượng dự án";
}

@Scripts.Render("~/bundles/chart")
@Styles.Render("~/Content/css")

<div class="row">
    <div class="col-xs-6">
        @{ Html.RenderPartial("PiePartial", Model.ProjectCount); }
    </div>
    <div class="col-xs-6">
        @{ Html.RenderPartial("BarPartial", Model.ProjectCount); }
    </div>
</div>