﻿@model QLCLDA.Models.Entity.team
@using QLCLDA.Helpers

@{
    ViewBag.Title = "Thêm mới nhóm";
}

<script language="javascript" type="text/javascript">

    //this will move selected items from source list to destination list
    function move_list_items(sourceid, destinationid) {
        $("#" + sourceid + "  option:selected").appendTo("#" + destinationid);
    }

    //this will move all selected items from source list to destination list
    function move_list_items_all(sourceid, destinationid) {
        $("#" + sourceid + " option").appendTo("#" + destinationid);
    }

    function selectAllOptions(selStr, selStr2) {
        var selObj = document.getElementById(selStr);
        for (var i = 0; i < selObj.options.length; i++) {
            selObj.options[i].selected = true;
        }

        var selObj2 = document.getElementById(selStr2);
        for (var i = 0; i < selObj2.options.length; i++) {
            selObj2.options[i].selected = true;
        }
    }
</script>

<h2>Thêm mới nhóm</h2>

@using (Html.BeginForm("Create", "Team", FormMethod.Post, new { onsubmit = "selectAllOptions('to_select_list', 'leader_select_list')" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.name, new { @class = "form-control", required = "required", placeholder = "Cần thiết" })
                @Html.ValidationMessageFor(model => model.name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.workplace, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.workplace, new { @class = "form-control", required = "required", placeholder = "Cần thiết" })
                @Html.ValidationMessageFor(model => model.workplace)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.technique, new { @class = "control-label col-md-2", required = "required", placeholder = "Cần thiết" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.technique, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.technique)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.display_order, new { @class = "control-label col-md-2", required = "required", placeholder = "Cần thiết" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.display_order, new { @class = "form-control", type = "number", min = 1 })
                @Html.ValidationMessageFor(model => model.display_order)
            </div>
        </div>


        @*Select staff to team*@
        <div class="form-group">
            <label class="control-label col-md-2">Nhân sự</label>
            <div class="col-md-10">
                <table cellpadding="5" cellspacing="5">
                    <tbody>
                        <tr>
                            <td colspan="2">
                                <p>Nhân sự có sẵn</p>
                                <select id="from_select_list" multiple="multiple" name="from_select_list" style="height: 150px; width: 200px">
                                    @{
    List<QLCLDA.Models.Entity.staff> staffsInTeam = ViewBag.SIT;
    foreach (var staff in staffsInTeam)
    {
        <option value="@staff.id">@staff.name</option>
    }
                                    }
                                </select>
                            </td>

                            <td colspan="2">
                                <p>Nhân sự trong nhóm</p>
                                <select id="to_select_list" multiple="multiple" name="to_select_list" style="height: 150px; width: 200px"></select>
                            </td>

                            <td colspan="2">
                                <p>Trưởng nhóm</p>
                                <select id="leader_select_list" multiple="multiple" name="leader_select_list" style="height: 150px; width: 200px"></select>
                            </td>
                        </tr>

                        <tr>
                            <td><input id="moveright" type="button" value="Vào nhóm" onclick="move_list_items('from_select_list','to_select_list');" /></td>
                            <td><input id="moverightall" type="button" value="Vào tất cả" onclick="move_list_items_all('from_select_list','to_select_list');" /></td>
                            <td><input id="moveleft" type="button" value="Ra nhóm" onclick="move_list_items('to_select_list','from_select_list');" /></td>
                            <td><input id="moveleftall" type="button" value="Ra tất cả" onclick="move_list_items_all('to_select_list','from_select_list');" /></td>

                            <td><input id="moveright" type="button" value="Trưởng nhóm" onclick="move_list_items('to_select_list', 'leader_select_list');" /></td>
                            <td><input id="moveleft" type="button" value="Bỏ" onclick="move_list_items('leader_select_list', 'to_select_list');" /></td>
                        </tr>
                    </tbody>
                </table>
                <p>* Giữ <strong>Shift</strong> hoặc <strong>Ctrl</strong> để lựa chọn nhiều người</p>
            </div>
        </div>
        @*End - Select Staff to Team*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm mới" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@Html.Button("Quay lại", "Index")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
