﻿@model QLCLDA.Models.Entity.team
@using QLCLDA.Helpers

@{
    ViewBag.Title = "Xóa nhóm " + @Model.name;
}

<h2>Xác nhận xóa nhóm "@Model.name"</h2>

<h3 class="alert alert-danger">Bạn có chắc chắn muốn xóa nhóm "@Model.name"?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.workplace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.workplace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.technique)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.technique)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" />
        </div>
    }
</div>

@Html.Button("Quay lại", "Index")