﻿@model QLCLDA.Models.Entity.team
@using System.Diagnostics
@using QLCLDA.Helpers

@{
    ViewBag.Title = "Chi tiết nhóm " + @Model.name;
}

<h2>Chi tiết nhóm @Model.name</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.display_order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.display_order)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.workplace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.workplace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.technique)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.technique)
        </dd>

    </dl>
</div>
<div style="margin-left:50px;margin-right:50px">
    <label>Danh sách nhân viên</label>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Tên
                </th>
                <th>
                    Chức vụ
                </th>
                <th>
                    Email
                </th>
                <th>
                    Skype
                </th>
                <th>
                    Điện thoại
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ts in Model.team_staff.OrderBy(x => x.staff.display_order))
            {
                <tr>
                    <td>
                        @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayFor(modelItem => ts.staff.name).ToString()), "Details/" + ts.staff.id, "Staff", null, new { id = ts.staff.id })
                    <td>
                        @Html.DisplayFor(modelItem => ts.staff.position.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => ts.staff.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => ts.staff.skype)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => ts.staff.phone)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@{
    var days = ViewBag.day as List<DateTime?>;
}


<div style="margin-left:50px" id="choose_date">
    <label>Khối lượng công việc của nhóm theo ngày</label>
    <form method="get">
        <fieldset>
            <div id="dateDepartHolder">
                <div id="dateDepartHolder">
                    <input type="hidden" name="choose" value="date" />
                    <label for="dateDepart">Ngày bắt đầu</label>
                    <input type="text" id="dateDepart" name="startdate" value="@ViewBag.startdate" onkeydown="return false" data-placeholder="depart" placeholder="start date" autocomplete="off" tabindex="3" />

                    <label for="dateReturn">Ngày kết thúc</label>
                    <input type="text" id="dateReturn" name="enddate" value="@ViewBag.enddate" onkeydown="return false" data-placeholder="return" placeholder="end date" autocomplete="off" tabindex="4" />
                    <button id="save" class="btn btn-primary">Lọc</button>
                </div>
            </div>
            
        </fieldset>
    </form>
</div>
<br/>
<div style="margin-left: 50px; margin-right: 50px; overflow-x: scroll">
    
    <table class="table table-bordered">
        <tbody>
            <tr>
                @{
                    Debug.Assert(days != null, "days != null");
                }
                @foreach (var day in days)
                {

                    var sumStaff = 0;
                    foreach (var r in Model.team_staff.SelectMany(ts => ts.staff.resources))
                    {
                        var day1 = day;
                        foreach (var w in r.works.Where(w => w.work_day != null && DateTime.Compare(day1.Value, w.work_day.Value) == 0))
                        {
                            if (w.percent != null)
                            {
                                sumStaff += w.percent.Value;
                            }
                            break;
                        }
                    }
                    var str = sumStaff + "%";
                    if (sumStaff < Model.team_staff.Count * 100)
                    {
                        <td style="background-color:#FFCCCC;color:#ff0000">
                            @str
                        </td>
                    }
                    else if (sumStaff > Model.team_staff.Count * 100)
                    {
                        <td style="background-color:#ccffcc;color:#00cc00">
                            @str
                        </td>
                    }
                    else
                    {
                        <td>
                            @str
                        </td>
                    }

                }
            </tr>
        </tbody>

        <thead>
            <tr>
                @{
                    Debug.Assert(days != null, "days != null");
                }
                @foreach (var day in days)
                {
                    <th>
                        @day.Value.ToString("dd/MM/yyy")
                    </th>
                }
            </tr>
        </thead>
    </table>
</div>
<div style="margin-left: 50px; margin-right: 50px">Max: @Model.team_staff.Count*100 %</div>
    <p>
        @Html.Button("Sửa", "Edit", new { id = Model.id })

        @Html.Button("Quay lại", "Index")
    </p>
