﻿@model IEnumerable<QLCLDA.Models.Entity.team>
@using QLCLDA.Helpers

@{
    ViewBag.Title = "Danh sách nhóm";
}

<h2>Danh sách nhóm</h2>

<p>
    @Html.Button("Thêm mới","Create")
</p>

<table id="example" class="table table-bordered">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                Tên
            </th>
            <th>
                Nơi làm việc
            </th>
            <th>
                Kỹ thuật
            </th>
            <th>
                Trưởng nhóm
            </th>
            <th></th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>
                STT
            </th>
            <th>
                Tên
            </th>
            <th>
                Nơi làm việc
            </th>
            <th>
                Kỹ thuật
            </th>
            <th>
                Trưởng nhóm
            </th>
            <th></th>
        </tr>
    </tfoot>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.display_order)
                </td>
                <td>
                    @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayFor(modelItem => item.name).ToString()), "Details", new { id = item.id })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.workplace)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.technique)
                </td>
                <td>
                    @foreach (var leader in item.getLeaders)
                    {
                        @Html.ActionLink(leader.Name, "Details", "Staff", new { id = leader.LeaderId }, "") <br />
                    }
                </td>
                <td>
                    @Html.Button("Sửa", "Edit", new { id = item.id })
                    @Html.Button("Xóa", "Delete", new { id = item.id })
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    @Html.Button("Thêm mới", "Create")
</p>