﻿@{
    ViewBag.Title = "Thêm công việc";
}

<h2>Thêm công việc</h2>

<div id="tabs">
    <ul>
        <li><a href="#tabs-1" class="t1">Theo ngày</a></li>
        <li><a href="#tabs-2" class="t2">Theo dự án</a></li>
        <li><a href="#tabs-3" class="t3">Theo nhân viên</a></li>
    </ul>
    <div id="tabs-1">
        <label for="dateDepart">Ngày bắt đầu</label>
        <input type="text" id="dateDepart" name="startdate" onkeydown="return false" class="inputDate placeholder" data-placeholder="depart" required placeholder="start date" autocomplete="off" tabindex="3" />


        <label for="dateReturn">Ngày kết thúc</label>
        <input type="text" id="dateReturn" name="enddate" onkeydown="return false" class="inputDate placeholder" data-placeholder="return" required placeholder="end date" autocomplete="off" tabindex="4" />
        <br /><br />
        <table id="for_date" class="table table-hover">

            <thead>
                <tr>
                    <th>
                        Nhân viên
                    </th>
                    <th>
                        Dự án
                    </th>
                    <th>
                        Phần trăm công việc
                    </th>
                    <th>
                        Có cuối tuần
                    </th>
                    <th width="80">
                        Xóa
                    </th>
                </tr>
            </thead>
            <tbody id="work_date">
                <tr class="wd">
                    <td>
                        @Html.DropDownList("staff_id", String.Empty)
                    </td>
                    <td>
                        @Html.DropDownList("project_id", String.Empty)
                    </td>
                    <td>
                        <input id="percent" type="number" name="percent" class="form-control" style="width:100px" min="0" max="100">
                    </td>
                    <td>
                        <input id="isweekend" type="checkbox" name="isweekend" value="1">
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <a id="add_work1" class="btn btn-default">Thêm nữa</a>
        <script>

            $('#add_work1').click(function () {
                var clone = $('.wd:first').clone();
                clone.find('input').val('');
                clone.find('input[type="checkbox"]').val("1");
                clone.find('input[type="checkbox"]').prop("checked", false);
                clone.find('td:last').append("<a class=\"btn btn-default del_work\" onclick=\"Delete(this)\">Xóa</a>");
                clone.appendTo('#work_date');

            }
            );
        </script>
        <hr />

        <button id="save1" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Lưu&nbsp;&nbsp;&nbsp;</button>
        <script>
            $(document).on('click', '#save1', function () {
                if ($('#dateDepart').val().length > 0) {
                    if ($('#dateReturn').val().length > 0) {
                        $('.wd').each(function () {
                            var data = {
                                startdate: $('#dateDepart').val(),
                                enddate: $('#dateReturn').val(),
                                staff_id: $(this).find('#staff_id').val(),
                                project_id: $(this).find('#project_id').val(),
                                percent: $(this).find('#percent').val(),
                                isweekend: $(this).find('#isweekend').is(':checked') ? $(this).find('#isweekend').val() : null,
                            }

                            var work = $(this);
                            if (data.staff_id.length > 0
                                && data.project_id.length > 0
                                && data.percent > 0) {
                                $.ajax({
                                    type: "POST",
                                    url: "/Resource/Add",
                                    data: data,
                                    success: function (result) {
                                        if (work.find('a').length > 0) {
                                            work.remove();
                                        } else {
                                            work.find('input').val('');
                                            work.find('input[type="checkbox"]').val("1");
                                            work.find('input[type="checkbox"]').prop("checked", false);
                                        }
                                        //alert(result);
                                    },
                                    error: function () {
                                        //alert('Failed');
                                    }
                                });
                                alert("Đã cập nhật các bản ghi hợp lệ");

                            }
                        });
                    } else {
                        alert("Chưa có ngày kết thúc");
                    }
                } else {
                    alert("Chưa có ngày bắt đầu");
                }
            });
        </script>
    </div>

    <div id="tabs-2">
        <label>Dự án</label>
        @Html.DropDownList("project_id", String.Empty)

        <hr />
        <p>Các thành viên đang làm</p>
        <table id="in_project" class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Nhân viên
                    </th>
                    <th>
                        Ngày bắt đầu
                    </th>
                    <th>
                        Ngày kết thúc
                    </th>
                    <th>
                        Phần trăm công việc
                    </th>
                </tr>
            </thead>
            <tbody id="in_work"></tbody>
        </table>

        <hr />
        <table id="for_project" class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Nhân viên
                    </th>
                    <th>
                        Ngày bắt đầu
                    </th>
                    <th>
                        Ngày kết thúc
                    </th>
                    <th>
                        Phần trăm công việc
                    </th>
                    <th>
                        Có cuối tuần
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="project_work">
                <tr class="pw">
                    <td>
                        @Html.DropDownList("staff_id", String.Empty)
                    </td>
                    <td>
                        <input type="text" id="start_date" name="startdate" onkeydown="return false" class="inputDate placeholder start_date form-control" readonly='true' data-placeholder="depart" required placeholder="start date" autocomplete="off" tabindex="3" />
                    </td>
                    <td>
                        <input type="text" id="end_date" name="enddate" onkeydown="return false" class="inputDate placeholder end_date form-control" readonly='true' data-placeholder="return" required placeholder="end date" autocomplete="off" tabindex="4" />
                    </td>
                    <td>
                        <input type="number" id="percent" name="percent" class="form-control" style="width:100px" min="0" max="100">
                    </td>
                    <td>
                        <input type="checkbox" id="isweekend" value="1">
                    </td>
                    <td></td>
                </tr>

            </tbody>
        </table>
        <script>
            $(document).on('click', '#t2', function () {
                new datepickr('start_date', {
                    'dateFormat': 'd/m/Y'
                });
                new datepickr('end_date', {
                    'dateFormat': 'd/m/Y'
                });
            });
        </script>
        <button id="add_work2" class="btn btn-default">Thêm nữa</button>
        <script>
            $(document).on('click', '#add_work2', function () {
                i++;
                var clone = $('.pw:first').clone();

                clone.find('input').val('');
                clone.find('input[type="checkbox"]').val("1");
                clone.find('input[type="checkbox"]').prop("checked", false);
                clone.find('#start_date').attr('id', 'start_date' + i);
                clone.find('#end_date').attr('id', 'end_date' + i);
                clone.find('td:last').append("<a class=\"btn btn-default del_work\" onclick=\"Delete(this)\">Xóa</a>");
                clone.appendTo('#project_work');
                new datepickr('start_date' + i, {
                    'dateFormat': 'd/m/Y'
                });
                new datepickr('end_date' + i, {
                    'dateFormat': 'd/m/Y'
                });
            }
            );


        </script>
        <hr />

        <button id="save2" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Lưu&nbsp;&nbsp;&nbsp;</button>
        <script>
            $('#save2').click(function () {
                if ($('#tabs-2 #project_id').val().length > 0) {
                    $('.pw').each(function () {

                        var data = {
                            startdate: $(this).find('.start_date:first').val(),
                            enddate: $(this).find('.end_date:first').val(),
                            staff_id: $(this).find('#staff_id').val(),
                            project_id: $('#tabs-2 #project_id').val(),
                            percent: $(this).find('#percent').val(),
                            isweekend: $(this).find('#isweekend').is(':checked') ? $(this).find('#isweekend').val() : null,
                        }
                        var work = $(this);
                        if (data.staff_id.length > 0
                            && data.startdate.length > 0
                            && data.enddate.length > 0
                            && data.percent > 0) {

                            $.ajax({
                                type: "POST",
                                url: "/Resource/Add",
                                data: data,
                                success: function (result) {
                                    if (work.find('a').length > 0) {
                                        work.remove();
                                    } else {
                                        work.find('input').val('');
                                        work.find('input[type="checkbox"]').val("1");
                                        work.find('input[type="checkbox"]').prop("checked", false);
                                    }
                                    //alert(result);
                                },
                                error: function () {
                                    //alert('Failed');
                                }
                            });
                            alert("Đã cập nhật các bản ghi hợp lệ");

                        }
                    });

                } else {
                    alert("Chưa chọn project");
                }
            });
        </script>

    </div>

    <div id="tabs-3">

        <label>Nhân viên</label>
        @Html.DropDownList("staff_id", String.Empty)

        <hr />
        <table id="done_project" class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Dự án
                    </th>
                    <th>
                        Ngày bắt đầu
                    </th>
                    <th>
                        Ngày kết thúc
                    </th>
                    <th>
                        Phần trăm công việc
                    </th>
                </tr>
            </thead>
            <tbody id="done_work">

            </tbody>
        </table>

        <hr />
        <table id="for_project" class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Dự án
                    </th>
                    <th>
                        Ngày bắt đầu
                    </th>
                    <th>
                        Ngày kết thúc
                    </th>
                    <th>
                        Phần trăm công việc
                    </th>
                    <th>
                        Có cuối tuần
                    </th>
                    <th width="80">Xóa</th>
                </tr>
            </thead>
            <tbody id="staff_work">
                <tr class="sw">
                    <td>
                        @Html.DropDownList("project_id", String.Empty)
                    </td>
                    <td>
                        <input type="text" id="start_date0" name="startdate" readonly='true' onkeydown="return false" class="inputDate placeholder start_date form-control" data-placeholder="depart" required placeholder="start date" autocomplete="off" tabindex="3" />
                    </td>
                    <td>
                        <input type="text" id="end_date0" name="enddate" readonly='true' onkeydown="return false" class="inputDate placeholder end_date form-control" data-placeholder="return" required placeholder="end date" autocomplete="off" tabindex="4" />
                    </td>
                    <td>
                        <input type="number" id="percent" name="percent" class="form-control" style="width:100px" min="0" max="100">
                    </td>
                    <td>
                        <input type="checkbox" id="isweekend" value="1">
                    </td>
                    <td></td>
                </tr>

            </tbody>
        </table>

        <button id="add_work3" class="btn btn-default">Thêm nữa</button>
        <script>

            $('#add_work3').click(function () {
                i++;
                var clone = $('.sw:first').clone();

                clone.find('input').val('');
                clone.find('input[type="checkbox"]').val("1");
                clone.find('input[type="checkbox"]').prop("checked", false);
                clone.find('#start_date0').attr('id', 'start_date' + i);
                clone.find('#end_date0').attr('id', 'end_date' + i);
                clone.find('td:last').append("<a class=\"btn btn-default del_work\" onclick=\"Delete(this)\">Xóa</a>");
                clone.appendTo('#staff_work');
                new datepickr('start_date' + i, {
                    'dateFormat': 'd/m/Y'
                });
                new datepickr('end_date' + i, {
                    'dateFormat': 'd/m/Y'
                });
            }
            );


        </script>
        <hr />
        <button id="save3" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Lưu&nbsp;&nbsp;&nbsp;</button>
        <script>
            $('#save3').click(function () {
                if ($('#tabs-3 #staff_id').val().length > 0) {
                    $('.sw').each(function () {

                        var data = {
                            startdate: $(this).find('.start_date:first').val(),
                            enddate: $(this).find('.end_date:first').val(),
                            staff_id: $('#tabs-3 #staff_id').val(),
                            project_id: $(this).find('#project_id').val(),
                            percent: $(this).find('#percent').val(),
                            isweekend: $(this).find('#isweekend').is(':checked') ? $(this).find('#isweekend').val() : null,
                        }
                        var work = $(this);
                        if (data.staff_id.length > 0
                            && data.startdate.length > 0
                            && data.enddate.length > 0
                            && data.percent > 0) {

                            $.ajax({
                                type: "POST",
                                url: "/Resource/Add",
                                data: data,
                                success: function (result) {
                                    if (work.find('a').length > 0) {
                                        work.remove();
                                    } else {
                                        work.find('input').val('');
                                        work.find('input[type="checkbox"]').val("1");
                                        work.find('input[type="checkbox"]').prop("checked", false);
                                    }
                                    //alert(result);
                                    
                                    alert("Đã cập nhật các bản ghi hợp lệ");
                                    
                                    $.ajax({
										url: '@Url.Action("GetProjectByStaff")',
										type: 'POST',
										data: {
											staffId: $('#staff_id').val()
										},
										success: function (data) {
											$('#done_work').html('');
											$('#done_work').append(data);
										}
									});
                                },
                                error: function () {
                                    //alert('Failed');
                                }
                            });
                            //alert("Đã cập nhật các bản ghi hợp lệ");

                        }
                    });

                } else {
                    alert("Chưa chọn project");
                }
            });
        </script>

    </div>
    <br />
    &nbsp;
    <script>
        $('select').attr("class", "form-control");
        $('select').attr("style", "width:200px;display:inline");
    </script>
</div>

@*Hiển thị nhân viên theo dự án*@
<script type="text/javascript">
    $(document).on('change', '#project_id', function () {
        $.ajax({
            url: '@Url.Action("GetStaffOfProject")',
            type: 'POST',
            data: {
                projectId: $(this).val()
            },
            success: function (data) {
                $('#in_work').html('');
                $('#in_work').append(data);
            }
        });
    });
</script>

@*Hiển thị dự án theo nhân viên*@
<script type="text/javascript">
    $(document).on('change', '#staff_id', function () {
        $.ajax({
            url: '@Url.Action("GetProjectByStaff")',
            type: 'POST',
            data: {
                staffId: $(this).val()
            },
            success: function (data) {
                $('#done_work').html('');
                $('#done_work').append(data);
            }
        });
    });
</script>