﻿@model QLCLDA.Models.Entity.resource

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>resource</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.staff_id, "Nhân sự", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("staff_id", String.Empty)
                @Html.ValidationMessageFor(model => model.staff_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.project_id, "Dự án", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("project_id", String.Empty)
                @Html.ValidationMessageFor(model => model.project_id)
            </div>
        </div>
        <div class="works form-group" id="work_first">
            <label class="control-label col-md-2" for="project_id">Khối lượng công việc</label>

            <div id="dateDepartHolder" class="search-date">
                <label for="dateDepart">Ngày bắt đầu</label>
                <input type="text" id="dateDepart" name="startdate" onkeydown="return false" class="inputDate placeholder" data-placeholder="depart" required placeholder="start date" autocomplete="off" tabindex="3" />


                <label for="dateReturn">Ngày kết thúc</label>
                <input type="text" id="dateReturn" name="enddate" onkeydown="return false" class="inputDate placeholder" data-placeholder="return" required placeholder="end date" autocomplete="off" tabindex="4" />
            </div>
            <label>Phần trăm công việc</label>
            <input type="number" name="percent" min="0" max="100">% &nbsp;
            <label>
                <input type="checkbox" name="isweekend" value="1" />
                Tính ngày thứ 7, chủ nhật
            </label>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
        
    </div>
    <div>
        @Html.ActionLink("Quay lại danh sách", "Index")
    </div>
}
