﻿@model QLCLDA.Models.Entity.staff

@{
    ViewBag.Title = "Cập nhật công việc";
}

<h2>@Html.DisplayFor(model => Model.name)</h2>

@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()*@

<form method="get">
    <div id="dateDepartHolder" class="search-date">
        <label for="dateDepart">Ngày bắt đầu</label>
        <input type="text" id="dateDepart" name="startdate" value="@ViewBag.startdate" onkeydown="return false" class="inputDate placeholder" data-placeholder="depart" placeholder="start date" autocomplete="off" tabindex="3" />


        <label for="dateReturn">Ngày kết thúc</label>
        <input type="text" id="dateReturn" name="enddate" value="@ViewBag.enddate" onkeydown="return false" class="inputDate placeholder" data-placeholder="return" placeholder="end date" autocomplete="off" tabindex="4" />
        <input type="submit" value="Lọc" />
    </div>
</form>

@{
    List<DateTime?> days = ViewBag.day as List<DateTime?>;
}

<table id="example" class="table table-bordered">
    <thead>
        <tr>
            <th>
                Dự án;
            </th>
            @foreach (var d in days)
            {
                <th>
                    @d.Value.ToString("dd/MM/yyyy")
                </th>
            }
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>
                Dự án
            </th>
            @foreach (var d in days)
            {
                <th>
                    @d.Value.ToString("dd/MM/yyyy")
                </th>
            }
        </tr>
    </tfoot>
    <tbody>
        @foreach (var r in Model.resources)
        {
            <tr>
                <td>
                    @r.project.name_cd
                </td>

                @foreach (var d in days)
                {
                    <td>
                        @foreach (var w in r.works)
                        {

                            if (DateTime.Compare(w.work_day.Value, d.Value) == 0)
                            {
                                @Html.DisplayFor(item => w.percent)
                            }


                        }
                    </td>
                }
            </tr>
        }

    </tbody>
</table>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
}