﻿@model IEnumerable<QLCLDA.Models.ExtModel.Worker>

@{ Layout = null; }

@{
    foreach (var item in Model)
    {
        <tr class="pw2">
            <td>
                @item.Name
            </td>
            <td>
                @item.StartDate
            </td>
            <td>
                @item.EndDate
            </td>
            <td>
                @item.Percent %
            </td>
        </tr>
    }
}