﻿@model List<QLCLDA.Models.Entity.team>
@using QLCLDA.Helpers;
@using System.Globalization;
@{
    ViewBag.Title = "Danh sách công việc";
}
<h2>Danh sách khối lượng công việc</h2>
<p>
    @Html.Button("Thêm mới", "AddResource")
</p>
<div style="border:1px solid #999;padding:10px;margin-top:-5px">
    <div style="margin-left:20px">
        <label><input type="radio" name="option" id="date" value="date" /> Theo ngày</label>&nbsp;&nbsp;
        <label><input type="radio" name="option" id="week" value="week" /> Theo tuần</label>&nbsp;&nbsp;
        <label><input type="radio" name="option" id="month" value="month" /> Theo tháng</label>&nbsp;
    </div>
    <br />
    <script>

        $('input[name="option"]').change(function () {
            if ($(this).val() == "date") {
                $('#choose_date').show();
                $('#choose_week').hide();
                $('#choose_month').hide();
            } else if ($(this).val() == "week") {
                $('#choose_date').hide();
                $('#choose_week').show();
                $('#choose_month').hide();
            } else if ($(this).val() == "month") {
                $('#choose_date').hide();
                $('#choose_week').hide();
                $('#choose_month').show();
            }
        });
        function updateStartMonth(y) {
            for (var i = 1; i < 13; i++) {
                $('#start_month').append("<option value=\"1/" + i + "/" + y + "\">Tháng " + i + "<option>");
            }
        }

        function updateEndMonth(y) {
            for (var i = 1; i < 13; i++) {
                var endDate = new Date(y, i - 1, 1);
                endDate.setMonth(endDate.getMonth() + 1);
                endDate.setDate(endDate.getDate() - 1);
                if (i == 12) {
                    $('#end_month').append("<option value=\"" + endDate.getDate() + "/" + (endDate.getMonth() + 1) + "/" + endDate.getFullYear() + "\" selected=\"selected\">Tháng" + i + "</option>");
                } else {
                    $('#end_month').append("<option value=\"" + endDate.getDate() + "/" + (endDate.getMonth() + 1) + "/" + endDate.getFullYear() + "\">Tháng " + i + "</option>");
                }
            }
        }

    </script>
    <div style="margin-left:20px" id="choose_date">
        <form method="get">
            <fieldset>
                <div id="dateDepartHolder">
                    <div id="dateDepartHolder">
                        <input type="hidden" name="choose" value="date" />
                        <label for="dateDepart">Ngày bắt đầu</label>
                        <input type="text" id="dateDepart" name="startdate" value="@ViewBag.startdate" onkeydown="return false" data-placeholder="depart" placeholder="start date" autocomplete="off" tabindex="3" />

                        <label for="dateReturn">Ngày kết thúc</label>
                        <input type="text" id="dateReturn" name="enddate" value="@ViewBag.enddate" onkeydown="return false" data-placeholder="return" placeholder="end date" autocomplete="off" tabindex="4" />

                    </div>
                </div>
                <br />

                <label>Team</label>
                @Html.DropDownList("team_id", null, String.Empty, new { @class = "form-control", style = "width=150px" })

                <br />
                <button id="save" class="btn btn-primary" style="width:100px">Lọc</button>
            </fieldset>
        </form>
    </div>

    <div style="margin-left:20px" id="choose_month">
        <form method="get">
            <fieldset>
                <input type="hidden" name="choose" value="month" />
                <table>
                    <tr>
                        <td>
                            <label>Từ năm </label>
                        </td>
                        <td>
                            <select id="start_yearm" class="form-control">
                                @for (var i = 2007; i < DateTime.Now.Year + 9; i++)
                                {
                                    if (i == DateTime.Now.Year)
                                    {
                                        <option value="@i" selected>@i</option>
                                    }
                                    else
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }
                            </select>
                        </td>
                        <td>
                            <label>tháng thứ</label>
                        </td>
                        <td>
                            <select id="start_month" name="startdate" class="form-control">
                                @for (var i = 1; i < 13; i++)
                                {
                                    string date = "1/" + i + "/2014";
                                    <option value="@date">Tháng @i</option>
                                }
                            </select>
                        </td>
                        <td width="20px"></td>
                        <td>
                            <label>Đến năm </label>
                        </td>
                        <td>
                            <select id="end_yearm" class="form-control">
                                @for (var i = 2007; i < DateTime.Now.Year + 9; i++)
                                {
                                    if (i == DateTime.Now.Year)
                                    {
                                        <option value="@i" selected>@i</option>
                                    }
                                    else
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }
                            </select>
                        </td>
                        <td>
                            <label>tháng thứ</label>
                        </td>
                        <td>
                            <select id="end_month" name="enddate" class="form-control">
                                @for (var i = 1; i < 13; i++)
                                {
                                    var date = new DateTime(2014, i, 1);
                                    date = date.AddMonths(1);
                                    date = date.AddDays(-1);
                                    string strd = "" + date.Day + "/" + date.Month + "/" + date.Year;
                                    if (i == 12)
                                    {
                                        <option value="@strd" selected>Tháng @i</option>
                                    }
                                    else
                                    {
                                        <option value="@strd">Tháng @i</option>
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td colspan="4">
                            <label>Team</label>
                            @Html.DropDownList("team_id", null, String.Empty, new { @class = "form-control", style = "width=150px" })
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <br />
                            <button id="save" class="btn btn-primary" style="width:100px">Lọc</button>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>
    <div style="margin-left:20px" id="choose_week">

        <form method="get">
            <fieldset>
                <input type="hidden" name="choose" value="week" />
                <table>
                    <tr>
                        <td width="70px">
                            <label>Từ năm </label>
                        </td>
                        <td>
                            <select id="start_yearw" class="form-control">
                                @for (var i = 2007; i < DateTime.Now.Year + 9; i++)
                                {
                                    if (i == DateTime.Now.Year)
                                    {
                                        <option value="@i" selected>@i</option>
                                    }
                                    else
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }
                            </select>
                        </td>
                        <td width="70px">
                            <label>tuần thứ</label>
                        </td>
                        <td>
                            <select id="start_week" name="startdate" class="form-control"></select>
                        </td>
                        <td width="20px"></td>
                        <td width="70px">
                            <label>Đến năm </label>
                        </td>
                        <td>
                            <select id="end_yearw" name="end_year" class="form-control">
                                @for (var i = 2007; i < DateTime.Now.Year + 9; i++)
                                {
                                    if (i == DateTime.Now.Year)
                                    {
                                        <option value="@i" selected>@i</option>
                                    }
                                    else
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }
                            </select>
                        </td>
                        <td width="70px">
                            <label>tuần thứ</label>
                        </td>
                        <td>
                            <select id="end_week" name="enddate" class="form-control"></select>
                        </td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td colspan="4">
                            <label>Team</label>
                            @Html.DropDownList("team_id", null, String.Empty, new { @class = "form-control", style = "width=150px" })
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <br />
                            <button id="save" class="btn btn-primary" style="width:100px">Lọc</button>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>
</div>
<hr />
<script>
    var choose = "@ViewBag.choose";
    if (choose == "week") {
        $('#week').attr('checked', 'checked');
        $('#choose_date').hide();
        $('#choose_week').show();
        $('#choose_month').hide();
    } else if (choose == "month") {
        $("#month").attr('checked', 'checked');
        $('#choose_date').hide();
        $('#choose_week').hide();
        $('#choose_month').show();
    } else {
        $("#date").attr('checked', 'checked');
        $('#choose_date').show();
        $('#choose_week').hide();
        $('#choose_month').hide();
    }

    $('#start_yearw').change(function () {
        $('#start_week > option').remove();
        updateStartWeek($(this).val());
    });
    $('#end_yearw').change(function () {
        $('#end_week > option').remove();
        updateEndWeek($(this).val());
    });

    $('#start_yearm').change(function () {
        $('#start_month > option').remove();
        updateStartMonth($(this).val());
    });

    $('#end_yearm').change(function () {

        $('#end_month > option').remove();
        alert(1);
        updateEndMonth($(this).val());
    });

</script>

@{
    var days = ViewBag.day as List<DateTime?>;
}
<div>
    <table id="example" class="table table-bordered">
        <thead>
            <tr>
                <th style="width:100px">
                    Tên&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </th>
                <th style="width:50px">
                    Dự&nbsp;án&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </th>

                @if (ViewBag.choose == "week")
                {
                    try
                    {
                        for (var i = 0; i < days.Count; )
                        {
                            var nextweek = days.ElementAt(i).Value.AddDays(8 - (int)days.ElementAt(i).Value.DayOfWeek);
                            var j = i;
                            for (; i < days.Count && days.ElementAt(i) < nextweek; i++)
                            {
                            }
                            var dfi = DateTimeFormatInfo.CurrentInfo;
                            var cal = dfi.Calendar;
                            <th>
                                Tuần
                                @cal.GetWeekOfYear(days.ElementAt(j).Value, dfi.CalendarWeekRule, dfi.FirstDayOfWeek)

                                / @days.ElementAt(j).Value.Year
                            </th>
                        }
                    }
                    catch (Exception ex)
                    {

                    }
                }
                else if (ViewBag.choose == "month")
                {
                    for (var d = days.Count - 1; d >= 0; )
                    {
                        var nextmonth = days.ElementAt(d).Value.AddMonths(-1).AddMonths(1);
                        var j = d;
                        for (; d > 0 && days.ElementAt(d) >= nextmonth; d--) { }
                        <th>
                            Tháng
                            @days.ElementAt(j).Value.Month
                            / @days.ElementAt(j).Value.Year
                        </th>
                    }
                }
                else
                {
                    for (int i = days.Count - 1; i >= 0; i--)
                    {
                        var d = days[i];
                        <th>
                            @d.Value.ToString("dd/MM/yy")
                            &nbsp;&nbsp;
                            @switch ((int)d.Value.DayOfWeek)
                            {
                                case 0:
                                    @Html.DisplayName("CN")
                                    break;
                                case 1:
                                @Html.DisplayName("Hai")
                                    break;
                                case 2:
                                @Html.DisplayName("Ba")
                                    break;
                                case 3:
                                @Html.DisplayName("Tư")
                                    break;
                                case 4:
                                @Html.DisplayName("Năm")
                                    break;
                                case 5:
                                @Html.DisplayName("Sáu")
                                    break;
                                case 6:
                                @Html.DisplayName("Bảy")
                                    break;
                                default:
                                    break;
                            }
                        </th>
                    }
                }
            </tr>
        </thead>

        <tfoot>
            <tr>
                <th>
                    Tên
                </th>
                <th>
                    Dự án
                </th>
                @if (ViewBag.choose == "week")
                {
                    for (var i = 0; i < days.Count; )
                    {
                        var nextweek = days.ElementAt(i).Value.AddDays(8 - (int)days.ElementAt(i).Value.DayOfWeek);
                        var j = i;
                        for (; i < days.Count && days.ElementAt(i) < nextweek; i++) { }
                        <th>
                            @days.ElementAt(j).Value.ToString("dd/MM/yyyy")
                        </th>
                    }
                }
                else if (ViewBag.choose == "month")
                {
                    for (var d = 0; d < days.Count; )
                    {
                        var nextmonth = days.ElementAt(d).Value.AddMonths(1);
                        var j = d;
                        for (; d < days.Count && days.ElementAt(d) < nextmonth; d++) { }
                        <th>
                            Tháng
                            @days.ElementAt(j).Value.Month
                            / @days.ElementAt(j).Value.Year
                        </th>
                    }
                }
                else
                {
                    for (int i = days.Count - 1; i >= 0; i--)
                    {
                        var d = days[i];
                        var compare = DateTime.Compare((DateTime) d, DateTime.Now);

                        if (compare >= 0)
                        {
                            <th>
                                @d.Value.ToString("dd/MM/yy")
                            </th>
                        }
                    }
                }
            </tr>
        </tfoot>

        <tbody>
            @foreach (var team in Model)
            {
                var teamAvailable = team.team_staff.Where(t => t.staff.is_deleted == false).ToList();
                foreach (var ts in teamAvailable.OrderBy(x => x.staff.display_order))
                {

                    var item = ts.staff;
                    {
                        var i = 0;
                        var count = item.resources.Count;
                        foreach (var r in item.resources)
                        {
                            <tr>
                                @if (i == 0)
                                {
                                    var span = count + 1;
                                    <td rowspan="@span">
                                        @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayFor(modelItem => item.name).ToString()), "../Staff/Details", new { id = item.id }) (@item.display_order)
                                    </td>
                                }

                                <td>
                                    @Html.DisplayFor(modelItem => r.project.name_cd)
                                </td>

                                @if (ViewBag.choose == "week")
                                {
                                    for (var d = 0; d < days.Count; )
                                    {

                                        var nextweek = days.ElementAt(d).Value.AddDays(8 - (int)days.ElementAt(d).Value.DayOfWeek);
                                        int wd = 0, sum = 0;
                                        for (; d < days.Count && days.ElementAt(d) < nextweek; d++)
                                        {
                                            if ((int)days.ElementAt(d).Value.DayOfWeek != 0 && (int)days.ElementAt(d).Value.DayOfWeek != 6)
                                            {
                                                wd++;
                                            }
                                            sum += r.works.Where(work => DateTime.Compare(work.work_day.Value, days.ElementAt(d).Value) == 0).Sum(work => work.percent.Value);
                                        }
                                        var persent = sum / wd;
                                        <td>

                                            @Html.DisplayFor(it => persent)
                                        </td>
                                    }
                                }
                                else if (ViewBag.choose == "month")
                                {
                                    for (var d = 0; d < days.Count; )
                                    {
                                        var nextmonth = days.ElementAt(d).Value.AddMonths(1);
                                        int md = 0, sum = 0;
                                        for (; d < days.Count && days.ElementAt(d) < nextmonth; d++)
                                        {
                                            if ((int)days.ElementAt(d).Value.DayOfWeek != 0 && (int)days.ElementAt(d).Value.DayOfWeek != 6)
                                            {
                                                md++;
                                            }
                                            sum += r.works.Where(work =>
                                            {
                                                var elementAt = days.ElementAt(d);
                                                return work.work_day != null && (elementAt != null && DateTime.Compare(work.work_day.Value, elementAt.Value) == 0);
                                            }).Sum(work => work.percent != null ? work.percent.Value : 0);
                                        }
                                        var persent = sum / md;
                                        <td>

                                            @Html.DisplayFor(it => persent)
                                        </td>
                                    }
                                }
                                else
                                {
                                    for (int k = days.Count - 1; k >= 0; k--)
                                    {
                                        var d = days[k];
                                        <td>
                                            @foreach (var w in r.works.Where(w => w.work_day != null && DateTime.Compare(w.work_day.Value, d.Value) == 0))
                                            {
                                                if (DateTime.Compare((DateTime) w.work_day, DateTime.Now) >= 0)
                                                {
                                                    @Html.DisplayFor(it => w.percent)
                                                }
                                            }
                                        </td>
                                    }
                                }
                            </tr>
                                i++;
                        }

                        <tr>
                            @if (i == 0)
                            {

                                <td>
                                    @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayFor(modelItem => item.name).ToString()), "../Staff/Details", new { id = item.id }) (@item.display_order)
                                </td>
                            }
                            <td>
                                Tổng
                            </td>
                            @if (ViewBag.choose == "week")
                            {
                                for (var d = 0; d < days.Count; )
                                {
                                    var sumStaff = 0;
                                    if (teamAvailable.Count > 0)
                                    {


                                        var d2 = d;
                                        foreach (var r in item.resources)
                                        {
                                            var nextweek = days.ElementAt(d2).Value.AddDays(8 - (int)days.ElementAt(d2).Value.DayOfWeek);
                                            int wd = 0, sum = 0;
                                            for (d2 = d; d2 < days.Count && days.ElementAt(d2) < nextweek; d2++)
                                            {
                                                if ((int)days.ElementAt(d2).Value.DayOfWeek != 0 && (int)days.ElementAt(d2).Value.DayOfWeek != 6)
                                                {
                                                    wd++;
                                                }
                                                sum += r.works.Where(work => DateTime.Compare(work.work_day.Value, days.ElementAt(d).Value) == 0).Sum(work => work.percent.Value);
                                            }
                                            sumStaff = sum / wd;
                                        }
                                    }

                                    var next = days.ElementAt(d).Value.AddDays(8 - (int)days.ElementAt(d).Value.DayOfWeek);
                                    for (; d < days.Count && days.ElementAt(d) < next; d++)
                                    {
                                    }

                                    if (sumStaff < teamAvailable.Count * 100)
                                    {
                                        <td style="background-color: #FFCCCC; color: #ff0000; ">
                                            @sumStaff
                                        </td>
                                    }
                                    else if (sumStaff > teamAvailable.Count * 100)
                                    {
                                        <td style="background-color: #ccffcc; color: #00cc00;">
                                            @sumStaff
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            @sumStaff
                                        </td>
                                    }
                                }
                            }
                            else if (ViewBag.choose == "month")
                            {
                                for (var d = 0; d < days.Count; )
                                {
                                    var sumStaff = 0;
                                    if (teamAvailable.Count > 0)
                                    {


                                        var d2 = d;
                                        foreach (var r in item.resources)
                                        {

                                            var nextmonth = days.ElementAt(d2).Value.AddMonths(1);
                                            int md = 0, sum = 0;
                                            for (d2 = d; d2 < days.Count && days.ElementAt(d2) < nextmonth; d2++)
                                            {
                                                if ((int)days.ElementAt(d2).Value.DayOfWeek != 0 && (int)days.ElementAt(d2).Value.DayOfWeek != 6)
                                                {
                                                    md++;
                                                }
                                                sum += r.works.Where(work =>
                                                {
                                                    var elementAt = days.ElementAt(d2);
                                                    return work.work_day != null && (elementAt != null && DateTime.Compare(work.work_day.Value, elementAt.Value) == 0);
                                                }).Sum(work => work.percent != null ? work.percent.Value : 0);
                                            }
                                            md = md == 0 ? 1 : md;
                                            sumStaff = sum / md;
                                        }



                                    }
                                    var next = days.ElementAt(d).Value.AddMonths(1);
                                    for (; d < days.Count && days.ElementAt(d) < next; d++)
                                    {
                                    }

                                    if (sumStaff < teamAvailable.Count * 100)
                                    {
                                        <td style="background-color: #FFCCCC; color: #ff0000">
                                            @sumStaff
                                        </td>
                                    }
                                    else if (sumStaff > teamAvailable.Count * 100)
                                    {
                                        <td style="background-color: #ccffcc; color: #00cc00;">
                                            @sumStaff
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            @sumStaff
                                        </td>
                                    }
                                }
                            }
                            else
                            {
                                for (int z = days.Count - 1; z >= 0; z--)
                                {
                                    var d = days[z];
                                    var sumStaff = 0;

                                    foreach (var r in item.resources)
                                    {
                                        var d1 = d;
                                        foreach (var w in r.works.Where(w => w.work_day != null && DateTime.Compare(d1.Value, w.work_day.Value) == 0))
                                        {
                                            sumStaff += w.percent.Value;
                                            break;
                                        }
                                    }
                                    if ((sumStaff > 100 || (int)d.Value.DayOfWeek == 0 || (int)d.Value.DayOfWeek == 6) && sumStaff > 0)
                                    {
                                        <td style="background-color:#ccffcc;color:#00cc00">
                                            @sumStaff
                                        </td>
                                    }
                                    else if (sumStaff < 100 && ((int)d.Value.DayOfWeek != 0 && (int)d.Value.DayOfWeek != 6))
                                    {
                                        <td style="background-color:#FFCCCC;color:#ff0000">
                                            @sumStaff
                                        </td>
                                    }
                                    else if ((int)d.Value.DayOfWeek != 0 && (int)d.Value.DayOfWeek != 6)
                                    {
                                        <td>
                                            @sumStaff
                                        </td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                }
                            }
                        </tr>
                    }
                }
                <tr>
                    <td colspan="2" style="background-color: #999999">
                        Tổng toàn Team @team.name <br />
                        Max: @(teamAvailable.Count * 100)
                    </td>

                    @if (ViewBag.choose == "week")
                    {
                        for (var d = 0; d < days.Count; )
                        {
                            var sumStaff = 0;
                            if (teamAvailable.Count > 0)
                            {
                                foreach (var ts in teamAvailable)
                                {
                                    if (ts.staff.resources.Count > 0)
                                    {
                                        var d2 = d;
                                        foreach (var r in ts.staff.resources)
                                        {
                                            var nextweek = days.ElementAt(d2).Value.AddDays(8 - (int)days.ElementAt(d2).Value.DayOfWeek);
                                            int wd = 0, sum = 0;
                                            for (d2 = d; d2 < days.Count && days.ElementAt(d2) < nextweek; d2++)
                                            {
                                                if ((int)days.ElementAt(d2).Value.DayOfWeek != 0 && (int)days.ElementAt(d2).Value.DayOfWeek != 6)
                                                {
                                                    wd++;
                                                }
                                                sum += r.works.Where(work => DateTime.Compare(work.work_day.Value, days.ElementAt(d).Value) == 0).Sum(work => work.percent.Value);
                                            }
                                            sumStaff += sum / wd;

                                        }
                                    }
                                }
                            }

                            var next = days.ElementAt(d).Value.AddDays(8 - (int)days.ElementAt(d).Value.DayOfWeek);
                            for (; d < days.Count && days.ElementAt(d) < next; d++) { }

                            if (sumStaff < teamAvailable.Count * 100)
                            {
                                <td style="background-color: #999999; color: #ff0000">
                                    @sumStaff
                                </td>
                            }
                            else if (sumStaff > teamAvailable.Count * 100)
                            {
                                <td style="background-color: #999999; color: #00cc00;">
                                    @sumStaff
                                </td>
                            }
                            else
                            {
                                <td style="background-color: #999999">
                                    @sumStaff
                                </td>
                            }
                        }
                    }
                    else if (ViewBag.choose == "month")
                    {
                        for (var d = 0; d < days.Count; )
                        {
                            var sumStaff = 0;
                            if (teamAvailable.Count > 0)
                            {
                                foreach (var ts in teamAvailable)
                                {
                                    if (ts.staff.resources.Count > 0)
                                    {
                                        var d2 = d;
                                        foreach (var r in ts.staff.resources)
                                        {

                                            var nextmonth = days.ElementAt(d2).Value.AddMonths(1);
                                            int md = 0, sum = 0;
                                            for (d2 = d; d2 < days.Count && days.ElementAt(d2) < nextmonth; d2++)
                                            {
                                                if ((int)days.ElementAt(d2).Value.DayOfWeek != 0 && (int)days.ElementAt(d2).Value.DayOfWeek != 6)
                                                {
                                                    md++;
                                                }
                                                sum += r.works.Where(work =>
                                                {
                                                    var elementAt = days.ElementAt(d2);
                                                    return work.work_day != null && (elementAt != null && DateTime.Compare(work.work_day.Value, elementAt.Value) == 0);
                                                }).Sum(work => work.percent != null ? work.percent.Value : 0);
                                            }
                                            md = md == 0 ? 1 : md;
                                            sumStaff += sum / md;
                                        }
                                    }

                                }
                            }
                            var next = days.ElementAt(d).Value.AddMonths(1);
                            for (; d < days.Count && days.ElementAt(d) < next; d++) { }

                            if (sumStaff < teamAvailable.Count * 100)
                            {
                                <td style="background-color: #999999; color: #ff0000">
                                    @sumStaff
                                </td>
                            }
                            else if (sumStaff > teamAvailable.Count * 100)
                            {
                                <td style="background-color: #999999; color: #00cc00;">
                                    @sumStaff
                                </td>
                            }
                            else
                            {
                                <td style="background-color: #999999">
                                    @sumStaff
                                </td>
                            }
                        }
                    }
                    else
                    {
                        foreach (var day in days)
                        {

                            var sumStaff = 0;
                            foreach (var r in teamAvailable.SelectMany(ts => ts.staff.resources))
                            {
                                var day1 = day;
                                foreach (var w in r.works.Where(w => w.work_day != null && DateTime.Compare(day1.Value, w.work_day.Value) == 0))
                                {
                                    if (w.percent != null)
                                    {
                                        sumStaff += w.percent.Value;
                                    }
                                    break;
                                }
                            }
                            if (sumStaff < teamAvailable.Count * 100)
                            {
                                <td style="background-color: #999999; color: #ff0000">
                                    @sumStaff
                                </td>
                            }
                            else if (sumStaff > teamAvailable.Count * 100)
                            {
                                <td style="background-color: #999999; color: #00cc00;">
                                    @sumStaff
                                </td>
                            }
                            else
                            {
                                <td style="background-color: #999999">
                                    @sumStaff
                                </td>
                            }
                        }
                    }
                </tr>

            }
        </tbody>
    </table>
</div>
@{
    var str = "?startdate=" + ViewBag.startdate + "&enddate=" + ViewBag.enddate;
}
<input class="btn btn-default" onclick="location.href='/Resource/Export/@str'" title="Xuất file" type="Button" value="Xuất file">

<script type="text/javascript">
    $(document).on("click", ".reverse", function (e) {
        e.preventDefault();


        $.each($("table.table-bordered tr"), function () {
            var total = $(this).find("th, td").length - 1;

            for (var i = 3; i <= total; i++) {
                for (var j = total; j >= i; j--) {
                    $(this).children(":eq(" + j + ")").after($(this).children(":eq(" + (j - 1) + ")"));
                }
            }
        });
    });
</script>
