﻿@model QLCLDA.Models.Entity.quality
@using QLCLDA.Helpers
@using System.Web.Mvc.Html5

@{
    ViewBag.Title = "Thêm mới đánh giá chất lượng";
}

<h2>Thêm mới đánh giá chất lượng</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.project_id, "Dự án", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("project_id", null, String.Empty, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.project_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.number_kloc, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                
                @Html.TextBoxFor(model => model.number_kloc, new { @class = "form-control" , type="number", min = 0})
                @Html.ValidationMessageFor(model => model.number_kloc)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.number_bug_of_team, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.number_bug_of_team, new { @class = "form-control", type = "number", min = 0 })
                @Html.ValidationMessageFor(model => model.number_bug_of_team)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.number_bug_of_team_in_kloc, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.number_bug_of_team_in_kloc, new { @class = "form-control", type = "number", min = 0 })
                @Html.ValidationMessageFor(model => model.number_bug_of_team_in_kloc)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.number_bug_of_customer, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.number_bug_of_customer, new { @class = "form-control", type = "number", min = 0 })
                @Html.ValidationMessageFor(model => model.number_bug_of_customer)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.number_bug_of_customer_int_kloc, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.number_bug_of_customer_int_kloc, new { @class = "form-control", type = "number", min = 0 })
                @Html.ValidationMessageFor(model => model.number_bug_of_customer_int_kloc)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.number_test_case, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.number_test_case, new { @class = "form-control", type = "number", min = 0 })
                @Html.ValidationMessageFor(model => model.number_test_case)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.human_resource, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.human_resource, new { @class = "form-control", type = "number", min = 0 })
                @Html.ValidationMessageFor(model => model.human_resource)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.time_complete, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.time_complete, new { @class = "form-control", type = "number", min = 0 })
                @Html.ValidationMessageFor(model => model.time_complete)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm mới" class="btn btn-default" />
                @Html.Button("Quay lại", "Index")
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
