﻿@model QLCLDA.Models.Entity.quality
@using QLCLDA.Helpers

@{
    ViewBag.Title = "Xóa đánh giá chất lượng " + @Model.project.name_project;
}

<h2>Delete</h2>

<h3>Bạn có chắc chắn muốn xóa đánh giá chất lượng của @Model.project.name_project?</h3>
<div>
    <h4>quality</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.number_kloc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.number_kloc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.number_bug_of_team)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.number_bug_of_team)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.number_bug_of_team_in_kloc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.number_bug_of_team_in_kloc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.number_bug_of_customer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.number_bug_of_customer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.number_bug_of_customer_int_kloc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.number_bug_of_customer_int_kloc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.number_test_case)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.number_test_case)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.human_resource)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.human_resource)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.time_complete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time_complete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.project.name_cd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.project.name_cd)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.Button("Quay lại", "Index")
        </div>
    }
</div>
