﻿@model QLCLDA.Models.Entity.quality
@using QLCLDA.Helpers

@{
    ViewBag.Title = "Đánh giá chất lượng dự án " + @Model.project.name_project;
}

<h2>Đánh giá chất lượng dự án "@Model.project.name_project"</h2>

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.number_kloc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.number_kloc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.number_bug_of_team)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.number_bug_of_team)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.number_bug_of_team_in_kloc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.number_bug_of_team_in_kloc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.number_bug_of_customer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.number_bug_of_customer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.number_bug_of_customer_int_kloc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.number_bug_of_customer_int_kloc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.number_test_case)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.number_test_case)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.human_resource)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.human_resource)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.time_complete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time_complete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.project.name_cd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.project.name_cd)
        </dd>

    </dl>
</div>
<p>
    @Html.Button("Sửa", "Edit", new { id = Model.project_id })
    @Html.Button("Quay lại", "Index")
</p>
