﻿@model IEnumerable<QLCLDA.Models.Entity.quality>
@using QLCLDA.Helpers

@{
    ViewBag.Title = "Đánh giá chất lượng";
}

<h2>Đánh giá chất lượng</h2>

<p>
    @Html.Button("Thêm mới", "Create")
</p>
<table id="example" class="table table-bordered">
    <thead>
        <tr>
            <th>
                Dự án
            </th>
            <th>
                Số code (nghìn dòng)
            </th>
            <th>
                Bugs của Team
            </th>
            <th>
                Bugs của Team/nghìn dòng
            </th>
            <th>
                Bugs của Khách hàng
            </th>
            <th>
                Bugs của Khách hàng/nghìn dòng
            </th>
            <th>
                Số Test case
            </th>
            <th>
                Nhân lực
            </th>
            <th>
                Số tháng hoàn thành
            </th>
            <th></th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>
                Dự án
            </th>
            <th>
                Số code (nghìn dòng)
            </th>
            <th>
                Bugs của Team
            </th>
            <th>
                Bugs của Team/nghìn dòng
            </th>
            <th>
                Bugs của Khách hàng
            </th>
            <th>
                Bugs của Khách hàng/nghìn dòng
            </th>
            <th>
                Số Test case
            </th>
            <th>
                Nhân lực
            </th>
            <th>
                Số tháng hoàn thành
            </th>
            <th></th>
        </tr>
    </tfoot>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayFor(modelItem => item.project.name_cd).ToString()), "Details", new { id = item.project_id })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.number_kloc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.number_bug_of_team)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.number_bug_of_team_in_kloc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.number_bug_of_customer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.number_bug_of_customer_int_kloc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.number_test_case)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.human_resource)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.time_complete)
                </td>
                <td>
                    @Html.Button("Sửa", "Edit", new { id = item.project_id })
                    @Html.Button("Xóa", "Delete", new { id = item.project_id })
                </td>
            </tr>
        }
    </tbody>
</table>
