﻿@model QLCLDA.Models.Entity.type_project
@using QLCLDA.Helpers

@{
    ViewBag.Title = "Thêm mới Loại dự án";
}

<h2>Thêm mới Loại dự án</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.country, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.country, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.country)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm mới" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@Html.Button("Quay lại", "Index")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
