﻿@model QLCLDA.Models.Entity.type_project
@using QLCLDA.Helpers

@{
    ViewBag.Title = "Xóa loại dự án " +@Model.name;
}

<h2>Xác nhận xóa Loại dự án "@Model.name"</h2>

<h3 class="alert alert-danger">Bạn có chắc muốn xóa loại dự án này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
        </div>
    }
</div>

@Html.Button("Quay lại", "Index")
