﻿@model IEnumerable<QLCLDA.Models.Entity.type_project>
@using QLCLDA.Helpers

@{
    ViewBag.Title = "Danh sách Loại dự án";
}

<h2>Danh sách Loại dự án</h2>

<p>
    @Html.Button("Thêm mới", "Create")
</p>

<table id="example" class="table table-bordered">
    <thead>
        <tr>
            <th style="width: 20px">
                Tên dự án
            </th>
            <th width="60%">
                Quốc gia
            </th>
            <th width ="20%"></th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>
                Tên dự án
            </th>
            <th>
                Quốc gia
            </th>
            <th></th>
        </tr>
    </tfoot>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.country)
                </td>
                <td>
                    @Html.Button("Sửa", "Edit", new { id = item.id })
                    @*@Html.Button("Chi tiết", "Details", new { id = item.id })*@
                    @Html.Button("Xóa", "Delete", new { id = item.id })
                </td>
            </tr>
        }
    </tbody>
</table>
