﻿@model QLCLDA.Models.Entity.activity_log

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>activity_log</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.who_activity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.who_activity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_update)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_update)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.content_update)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.content_update)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.project.name_cd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.project.name_cd)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
