﻿@model QLCLDA.Models.Entity.activity_log

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>activity_log</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.id_project, "id_project", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_project", String.Empty)
                @Html.ValidationMessageFor(model => model.id_project)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.who_activity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.who_activity)
                @Html.ValidationMessageFor(model => model.who_activity)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.date_update, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.date_update)
                @Html.ValidationMessageFor(model => model.date_update)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.content_update, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.content_update)
                @Html.ValidationMessageFor(model => model.content_update)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
