﻿@model IEnumerable<QLCLDA.Models.Entity.activity_log>

@{
    ViewBag.Title = "Nhật ký";
}

<h2>Nhật ký dự án</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<table id="example" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Mã
            </th>
            <th>
                User
            </th>
            <th>
                Dự án
            </th>
            <th>
                Thời gian
            </th>
            <th>
                Nội dung
            </th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>
                Mã
            </th>
            <th>
                User
            </th>
            <th>
                Dự án
            </th>
            <th>
                Thời gian
            </th>
            <th>
                Nội dung
            </th>
        </tr>
    </tfoot>

    <tbody>
        @foreach (var item in Model.Reverse())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.who_activity)
                </td>
                <td>
                    @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayFor(modelItem => item.project.name_project).ToString()), "Details", "Project", new { id = item.id_project }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date_update)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.content_update)
                </td>
            </tr>
        }
    </tbody>
</table>
