﻿@using QLCLDA.Helpers

@{
    ViewBag.Title = "Xuất hóa đơn dự án";
}

<script language="javascript" type="text/javascript">
     //this will move selected items from source list to destination list     function move_list_items(sourceid, destinationid) {
        $("#" + sourceid + "  option:selected").appendTo("#" + destinationid);
    }      //this will move all selected items from source list to destination list     function move_list_items_all(sourceid, destinationid) {
        $("#" + sourceid + " option").appendTo("#" + destinationid);
    }      function selectAllOptions(selStr) {
        var selObj = document.getElementById(selStr);
        for (var i = 0; i < selObj.options.length; i++) {
            selObj.options[i].selected = true;
        }
    }

    $(document).ready(function() {
        $("#from_select_list").children('option:gt(0)').hide();
        $("#idCustomer").change(function() {
            $("#from_select_list").children('option').hide();
            $("#from_select_list").children("option[class^=" + $(this).val() + "]").show();
        });
    });
</script>

<h2>Xuất hóa đơn dự án</h2>

@using (Html.BeginForm("Index", "Invoice", FormMethod.Post, new { onsubmit = "selectAllOptions('to_select_list')" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.Label("Khách hàng", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idCustomer", "Chọn khách hàng")
                @*@Html.ValidationMessageFor(model => model.id_customer)*@
            </div>
        </div>
        
        <div class="form-group">
            @Html.Label("Thuế (%)", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("tax")
                @*@Html.ValidationMessageFor(model => model.tax)*@
            </div>
        </div>

        @*Select ending project*@         <div class="form-group">
            <label class="control-label col-md-2">Dự án</label>             <div class="col-md-10">
                <table>
                    <tbody>
                        <tr>
                            <td colspan="2">
                                <p>Các dự án đã kết thúc</p>                                 <select id="from_select_list" multiple="multiple" name="from_select_list" style="height: 150px; width: 200px">
                                    @{
                                        List<QLCLDA.Models.project> projects = ViewBag.Projects;
                                        foreach (var project in projects)
                                        {                                             <option value="@project.id" class="@project.id_customer">@project.name_project</option>
                                        }                                     }
                                </select>
                            </td>
                            <td colspan="2">                                 <p>Các dự án đã chọn</p>                                 <select id="to_select_list" multiple="multiple" name="to_select_list" style="height: 150px; width: 200px"></select>                             </td>
                        </tr>
                        <tr>                             <td><input id="moveright" type="button" value="Vào nhóm" onclick="move_list_items('from_select_list','to_select_list');" /></td>                             <td><input id="moverightall" type="button" value="Vào tất cả" onclick="move_list_items_all('from_select_list','to_select_list');" /></td>                             <td><input id="moveleft" type="button" value="Ra nhóm" onclick="move_list_items('to_select_list','from_select_list');" /></td>                             <td><input id="moveleftall" type="button" value="Ra tất cả" onclick="move_list_items_all('to_select_list','from_select_list');" /></td>                         </tr>
                    </tbody>
                </table>                 <p>* Giữ <strong>Shift</strong> hoặc <strong>Ctrl</strong> để lựa chọn nhiều dự án</p>
            </div>
        </div>         @*End - Select ending project*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Export Excel" name="action:ExportToExcel" class="btn btn-default" />
                <input type="submit" value="Export PDF" name="action:ExportToPdf" class="btn btn-default" />
                @Html.Button("Quay lại", "Index")
            </div>
        </div>
    </div>
}