﻿@model QLCLDA.Models.Entity.customer
@using QLCLDA.Helpers

@{
    ViewBag.Title = "Thêm mới khách hàng";
}

<h2>Thêm mới khách hàng</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.company_cd, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.company_cd, new { @class = "form-control", required = "required", placeholder = "Cần thiết" })
                @Html.ValidationMessageFor(model => model.company_cd)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.company, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.company, new { @class = "form-control", required = "required", placeholder = "Cần thiết" })
                @Html.ValidationMessageFor(model => model.company)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.address, new { @class = "form-control", required = "required", placeholder = "Cần thiết" })
                @Html.ValidationMessageFor(model => model.address)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.representative, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.representative, new { @class = "form-control", required = "required", placeholder = "Cần thiết" })
                @Html.ValidationMessageFor(model => model.representative)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.email, new { @class = "form-control", required = "required", placeholder = "Cần thiết" })
                @Html.ValidationMessageFor(model => model.email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.skype, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.skype, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.skype)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.phone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.phone, new { @class = "form-control", required = "required", placeholder = "Cần thiết" })
                @Html.ValidationMessageFor(model => model.phone)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.fax, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.fax, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.fax)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.comments, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.comments, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.comments)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm mới" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@Html.Button("Quay lại", "Index")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
