﻿@model QLCLDA.Models.Entity.customer
@using QLCLDA.Helpers

@{
    ViewBag.Title = "Xóa khách hàng " + @Model.company;
}

<h2>Xác nhận xóa khách hàng "@Model.company"</h2>

<h3 class="alert alert-danger">Bạn có chắc chắn muốn xóa khách hàng "@Model.company"?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.company_cd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.company_cd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.representative)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.representative)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.skype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.skype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comments)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" />
        </div>
    }
</div>

@Html.Button("Quay lại", "Index")
