﻿@model IEnumerable<QLCLDA.Models.Entity.customer>
@using QLCLDA.Helpers

@{
    ViewBag.Title = "Danh sách khách hàng";
}

<h2>Danh sách khách hàng</h2>

<p>
    @Html.Button("Thêm mới", "Create")
</p>
<table id="example" class="table table-bordered">
    <thead>
        <tr>
            <th>
                Viết tắt
            </th>
            <th>
                Tên công ty
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Đại diện
            </th>
            <th>
                Email
            </th>
            <th>
                Skype
            </th>
            <th>
                Điện thoại
            </th>
            <th>
                Fax
            </th>
            <th>
                Ý kiến
            </th>
            <th></th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>
                Viết tắt
            </th>
            <th>
                Tên công ty
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Đại diện
            </th>
            <th>
                Email
            </th>
            <th>
                Skype
            </th>
            <th>
                Điện thoại
            </th>
            <th>
                Fax
            </th>
            <th>
                Ý kiến
            </th>
            <th></th>
        </tr>
    </tfoot>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.company_cd)
                </td>
                <td>
                    @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayFor(modelItem => item.company).ToString()), "Details", new { item.id })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.representative)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.skype)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.comments)
                </td>
                <td>
                    @Html.Button("Sửa", "Edit", new { item.id })
                    @Html.Button("Xóa", "Delete", new { item.id })
                </td>
            </tr>
        }
    </tbody>

</table>
